
<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="https://www.codexworld.com/wp-content/uploads/2014/09/favicon.ico" type="image/x-icon" />
        <meta name="description" content="Live Demo at CodexWorld - Export HTML Table Data to Excel using JavaScript by CodexWorld">
        <meta name="keywords" content="demo, codexworld demo, project demo, live demo, tutorials, programming, coding">
        <meta name="author" content="CodexWorld">
        <style type="text/css">
            body
            {
                margin-top: 0;
                font-family: Arial;
                font-size: 10pt;
            }
            table
            {
                border: 1px solid #ccc;
                border-collapse: collapse;
            }
            table th
            {
                background-color: #F7F7F7;
                color: #333;
                font-weight: bold;
            }
            table th, table td
            {
                padding: 5px;
                border: 1px solid #ccc;
            }
        </style>
</head>
<body>
    <table id="tblData">
        <tr>
            <th style="text-align: center; color: red">
                <img src="https://sgstar.asia/public/uploads/settings/f88583d5e43b7ce35be972def7d0219d.png" alt="" width="80">
            </th>
            <th>Student Information</th>
        </tr>
        <tr>
            <th>Student Name</th>
            <td>{{@$student_detail->first_name.' '.@$student_detail->last_name}}</td>
        </tr>
        <tr>
            <th>Admission Number</th>
            <td>123455 &nbsp;</td>
        </tr>
        <tr>
            <th>Roll Number</th>
            <td>{{@$student_detail->roll_no}}</td>
        </tr>
        <tr>
            <th>Class</th>
            <td>
                @if($student_detail->className!="" && $student_detail->session_id!="")
                    {{@$student_detail->className->class_name}}
                    ({{@$academic_year->year}})
                @endif
            </td>
        </tr>
        <tr>
            <th>Section</th>
            <td>{{@$student_detail->section->section_name}}</td>
        </tr>
        <tr>
            <th>Gender</th>
            <td>{{@$student_detail->gender !=""?$student_detail->gender->base_setup_name:""}}</td>
        </tr>
        <tr>
            <th>Admission Date</th>
            <td>{{ !empty($student_detail->admission_date)? App\SmGeneralSettings::DateConvater($student_detail->admission_date):''}} </td>
        </tr>
        <tr>
            <th>Date Of Birth</th>
            <td>{{ !empty($student_detail->date_of_birth)? App\SmGeneralSettings::DateConvater($student_detail->date_of_birth):''}}  </td>
        </tr>
        <tr>
            <th>Type</th>
            <td>{{$student_detail->category != ""? $student_detail->category->catgeory_name:""}}</td>
        </tr>
        <tr>
            <th>Religion</th>
            <td>{{$student_detail->religion != ""? $student_detail->religion->base_setup_name:""}}</td>
        </tr>
        <tr>
            <th>Phone Number</th>
            <td>{{@$student_detail->mobile}}</td>
        </tr>
        <tr>
            <th>Email Address</th>
            <td>{{@$student_detail->email}}</td>
        </tr>
        <tr>
            <th>Present Address</th>
            <td>{{@$student_detail->current_address}}</td>
        </tr>
        <tr>
            <th>Permanent Address</th>
            <td>{{@$student_detail->permanent_address}}</td>
        </tr>
        <tr>
            <th>Father’s Name</th>
            <td>{{@$student_detail->parents->fathers_name}}</td>
        </tr>
        <tr>
            <th>Occupation</th>
            <td>{{@$student_detail->parents!=""?@$student_detail->parents->fathers_occupation:""}}</td>
        </tr>
        <tr>
            <th>Phone Number</th>
            <td>{{@$student_detail->parents !=""?@$student_detail->parents->fathers_mobile:""}}</td>
        </tr>
        <tr>
            <th>Mother’s Name</th>
            <td>{{$student_detail->parents !=""?@$student_detail->parents->mothers_name:""}}</td>
        </tr>
        <tr>
            <th>Occupation</th>
            <td>{{$student_detail->parents !=""?@$student_detail->parents->mothers_occupation:""}}</td>
        </tr>
        <tr>
            <th>Phone Number</th>
            <td>{{$student_detail->parents !=""?@$student_detail->parents->mothers_mobile:""}}</td>
        </tr>

    </table>
    <button onclick="exportTableToExcel('tblData', 'members')">Export HTML Table To Excel File</button>
        <!-- Place this tag in your head or just before your close body tag. -->
        <!--<script src="https://apis.google.com/js/platform.js" async defer></script>-->
<script>
    function exportTableToExcel(tableID, filename = ''){
        var downloadLink;
        var dataType = 'application/vnd.ms-excel';
        var tableSelect = document.getElementById(tableID);
        var tableHTML = tableSelect.outerHTML.replace(/ /g, '%20');
        
        // Specify file name
        filename = filename?filename+'.xls':'excel_data.xls';
        
        // Create download link element
        downloadLink = document.createElement("a");
        
        document.body.appendChild(downloadLink);
        
        if(navigator.msSaveOrOpenBlob){
            var blob = new Blob(['\ufeff', tableHTML], {
                type: dataType
            });
            navigator.msSaveOrOpenBlob( blob, filename);
        }else{
            // Create a link to the file
            downloadLink.href = 'data:' + dataType + ', ' + tableHTML;
        
            // Setting the file name
            downloadLink.download = filename;
            
            //triggering the function
            downloadLink.click();
        }
    }
</script>
</body>
</html>