table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 12px !important;
    vertical-align: middle !important;
}

.table_vn, .table_foreigner{
    width: 100%;
    overflow-x: scroll;
}
::-webkit-scrollbar {
    height: 5px !important; 
}
footer{
    display: none;
}
.uppercase{
    text-transform: uppercase;
}
.sign{
    display: none;
}
@media print {
    .table_vn{
        transform:rotate(270deg) scale(0.4) !important;
        overflow: visible;
        margin-left: -20%; 
    }
    .table_foreigner{
        transform:rotate(270deg);
        overflow: visible;
        margin-left: -20%; 
    }
    #message_box{
        display: none !important;
    }
    .print{
        display: none;
    }
    .sign{
        display: revert;
    }
    .detail{
        display: none;
    }
}