.outlineTab p img{
  width: 100% !important;
}
@media (max-width: 1000px){
  .dropdown{
    display: block !important;
    margin-bottom: 20px;
  }
  .dropdown button{
    background: #FC354C;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0ABFBC, #FC354C);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0ABFBC, #FC354C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: none;
  }
  .nav-item{
    display: none;
  }
  .nav-tabs{
    margin: 0 !important;
  }
}