.fontcalender {
	position: relative;
  }
  
  .fontcalender .calendar{
	position: absolute;
  top: 20px;
  right: 30px;
	color: gray;
  }
.iti__selected-flag{
    border: none;
    outline: none;
    padding-left: 15px;
}
.b-t-phone{
    margin-top : 5px;
    margin-left: 10px;
}
.floating-menu li {
    margin: 0px !important;
}
.main-menu li {
    line-height: 0em !important;
}
.fa-icon{
  font-size: 22px !important;
}
.sidebar-group{
  text-align: center;
}
.sidebar-title{
  font-size: 13px;
}
.rotated {
  
  transform: rotate(45deg);
  -ms-transform: rotate(45deg); /* IE 9 */
  -moz-transform: rotate(45deg); /* Firefox */
  -webkit-transform: rotate(45deg); /* Safari and Chrome */
  -o-transform: rotate(45deg); /* Opera */
}
.new-text-color{
    color: rgb(88, 89, 91,0.8) !important;
}
.sub-menu a {
    color: rgb(88, 89, 91,0.8) !important;
}

.link-blank{
    font-size : 18px !important;
    color : #149BD7 !important;
}
.curriculum-page {
    padding: 4%;
    display: flex;
}
.curriculum-page .sub-menu {
    user-select: none;
    padding-top: 2%;
}
.curriculum-page .sub-menu .active {
    border-bottom: 2px solid#7dd3f7;
}
.curriculum-page .sub-menu .academic {
    display: none;
}
.curriculum-page .sub-menu .fa-caret-down {
    display: inline;
    float: none;
}
.curriculum-page .sub-menu a:hover {
    border-bottom: 2px solid#7dd3f7;
}
.curriculum-page p {
    font-family: "roboto";
    padding-top: 15px;
    padding-bottom: 0;
    color: black;
    font-size: 100%;
}
.parents-essentials .content-parent h3 {
    color: #7dd2f7;
    font-family: "roboto";
    text-transform: capitalize;
}
.sub-menu a {
    font-size : 20px !important;
}
#zalo_icon {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999;
}
.fa-chevron-right,.fa-chevron-left{
    color:#9edef9;font-size:25px;
}
.carousel-control-next{
    right : -20px;
    opacity :1;
}
.carousel-control-prev{
    left : -20px;
    opacity :1;
}
.fit-img{
    object-fit: contain;
    height : 500px;
    border-radius : 15px;
}
.address-text-sm{
    color : #fff;
    font-size : 13px;
    text-align : left;
}
.pt-60{
    padding-top : 50px;
}
.circle-img {
    border-radius : 50px;
}
.center{
    text-align : center !important;
}
.staff-title{
    color : #209cd7;
}
#home-menu{
    width : 15%;
}
#body{
        font-family: 'Roboto', serif;
        background : #fff;
    }
    #footer{
        font-family: 'Roboto', serif;
        
    }
    a {
        font-family: 'Roboto', serif;
    }
    .phone-contact p {
        font-family: 'Roboto', serif;
    }
    .nav-group--top-bar li :hover {
        color : unset;
        color : #191970 !important; 
    }
    .mobile-navbar-item{
      margin: 0px !important;
      padding: 0px !important;
    }
    .mobile-navbar{
      margin: 0px !important;
      padding: 0 0 0 15px !important;
      background-color: #00bef4;
    }.mobile-navbar-2{
      margin: 0px !important;
      padding: 0px !important;
      background-color: #fcca03;
    }
    
    @media only screen and (max-width: 600px) {
        .fa-caret-down{
        float: right;
        display: block;
        padding: 0px 20px 5px 20px;
      }
    }
    @media only screen and (min-width: 601px) {
        .fa-caret-down{
        float: right;
        display: none;
      }
    }
    #video_title {
      text-align : center;
      font-family: 'Roboto';
    }

    /*.button-container {
      background-color: #fafaf4;
    }*/
    .month-select{
      padding-bottom: 20px;
      padding-top: 20px;
    }
    .event-table{
      padding-bottom: 50px;
    }
    .event-detail-link{
      color: blue;
      text-decoration:underline;
    }
    .event-detail-title{
      text-align: center;
    }
    #document_mobile,#login_mobile{
      display: none;
    }
    #show-hide{
      position: fixed; top: 4px; right: 280px; z-index: 1111;
    }
    #search_button{
      padding: 8px 7px 8px 7px;background-color: black;margin-left: -4px;font-size: 20px;color: #fff;font-family: Roboto;font-weight: 700;
    }

    #document_button{
        padding: 8px 8px 8px 8px;background-color: #de0084;margin-right: -3px;font-size: 21px;color: #fff;font-family: Roboto;font-weight: 700;
     
    }
    #login_button{
       padding: 8px 32px 8px 32px;background-color: #1ac754;margin-left: -3px;font-size: 21px;color: #fff;font-family: Roboto;font-weight: 700;color:#fff;
    }
    #document_mobile{
      
          background-color: #de0084;margin-left: -2px;color: #fff;
        }
    #login_mobile{

      background-color: #1ac754;margin-right: -2px;color: #fff;
          padding-right: 30px;
    
          
        }
    @media screen and (max-width: 1450px) and (min-width: 901px) {
        #document_button,#login_button{
            padding-bottom : 8px;
        }
    }
    @media screen and (max-width: 1450px) {
        #show-hide{
          display: block;
          top:4px;
          right :280px;
        }
        .test_button{
            right :280px !important;
        }
        
    }
    @media screen and (max-width: 955px) and (min-width : 800px) {
        #document_button,#login_button,#search_button{
            padding-bottom : 7px;
        }

    }
    @media screen and (max-width: 1200px) and (min-width : 1025px) {
        #show-hide{
          display: block;
          top:5px;
          right :170px;
        }
        .test_button{
            right :170px !important;
        }
        #searchArea input.input-search {
    		 max-width: 170px; 
    		 padding-right: 16px; 
    		 width: 100%; 
    	}
    	#searchArea input.input-search:focus {
        	max-width: 170px;
        	padding-right: 16px;
        	width: 100%;
        }

    }
    @media screen and (max-width:799px) and (min-width : 769px)
    {
        #login_button {
            padding: 13px 17px 11px 17px;
            background-color: #1ac754;
            margin-left: -2px;
            font-size: 11px;
            color: #fff;
        }
        #document_button {
            padding: 13px 5px 11px 5px;
            background-color: #de0084;
            margin-right: -2px;
            font-size: 11px;
            color: #fff;
        }
        #searchArea input.input-search {
    		 max-width: 150px; 
    		 padding-right: 16px; 
    		 width: 100%; 
    	}
    	#searchArea input.input-search:focus {
        	max-width: 150px;
        	padding-right: 16px;
        	width: 100%;
        }
        #show-hide{
          display: block;
          top:5px;
          right :150px;
        }
        .test_button{
            right :150px !important;
        }
    }
    @media screen and (max-width:1024px) and (min-width : 800px)
    {
        .test_button{
            right :200px !important;
        }
        #show-hide{
          display: block;
          top:5px;
          right :200px;
        }
        #searchArea input.input-search {
    		 max-width: 200px; 
    		 padding-right: 16px; 
    		 width: 100%; 
    	}
    	#searchArea input.input-search:focus {
        	max-width: 200px;
        	padding-right: 16px;
        	width: 100%;
        }
    }
    @media screen and (max-width: 1024px) {
        #document_mobile,#login_mobile{
          display: none;
        }
        #show-hide{
          display: block;
        }
        .test_button{
            display: block !important;
        }
        
        .left-content{
          display: block;
        }
        .left-content-mobile{
          display: none;
        }
        .address{
          color: #fff;
          font-size: 12px !important;
          margin-bottom: 30px !important;
        }
        .icon-footer{
         margin :5px;
         font-size: 30px !important;
        }

        
    }
    

    @media only screen and (max-width: 994px)
    {
      #item-list-big-screen{
          display: block;
        }
        #accordion{
          display: none;
        }

    }
    @media screen and (min-width: 1025px) {
        #document_mobile,#login_mobile{
          display: none;
        }
        .left-content{
          display: block;
        }
        .left-content-mobile{
          display: none;
        }
    }
    @media screen and (max-width: 768px) {
        #item-list-big-screen{
          display: none;
        }
        #accordion{
          display: block;
        }
        .footer-img{
          width: 40%;
        }
        .left-content{
          display: none;
        }
        .left-content-mobile{
          display: block;
        }
        .address{
          color: #fff;
          font-size: 25px !important;
          margin-bottom: 30px !important;
        }
        .icon-footer{
         margin :5px;
         font-size: 55px !important;
        }
        .title-logo {
          font-size: 25px !important;
          margin-bottom: -30px;
        }
        /*#search_button {*/
        /*    padding: 8px 7px 9px 7px;*/
        /*    background-color: black;*/
        /*    margin-left: -4px;*/
        /*    font-size: 19px;*/
        /*    color: #fff;*/
        /*}*/
        /*#login_button {*/
        /*    padding: 13px 17px 11px 17px;*/
        /*    background-color: #1ac754;*/
        /*    margin-right: 0px;*/
        /*    font-size: 11px;*/
        /*    color: #fff;*/
        /*}*/
        /*#document_button {*/
        /*    padding: 13px 5px 11px 5px;*/
        /*    background-color: #de0084;*/
        /*    margin-left: -2px;*/
        /*    font-size: 11px;*/
        /*    color: #fff;*/
        /*}*/
        /*#show-hide {*/
            
        /*    top: 2px;*/
        /*    right: 0px;*/
        /*}*/
    }
    @media screen and (max-width: 800px) and (min-width : 600px) {
        .test_button{
            right :200px !important;
            height: 36px !important;
        }
        #documen_bt{
            
            padding-top: 4px !important;
            
        }
        #login_bt{
            
            padding-top: 4px !important;
            
        }
    }
    @media screen and (max-width: 768px) and (min-width : 600px) {
        
        #search_button {
            padding: 8px 7px 9px 7px;
            background-color: black;
            margin-left: -4px;
            font-size: 19px;
            color: #fff;
        }
        #login_button {
            padding: 13px 18px 11px 18px;
            background-color: #1ac754;
            margin-left: -2px;
            font-size: 11px;
            color: #fff;
            font-family: Roboto;
            font-weight: 700;
        }
        #document_button {
            padding: 13px 5px 11px 5px;
            background-color: #de0084;
            margin-right: -2px;
            font-size: 11px;
            color: #fff;
            font-family: Roboto;
            font-weight: 700;
            
        }
        
        #show-hide{
          display: block;
          top:5px;
          right :200px;
        }
        #searchArea input.input-search {
    		 max-width: 200px; 
    		 padding-right: 16px; 
    		 width: 100%; 
    	}
    	#searchArea input.input-search:focus {
        	max-width: 200px;
        	padding-right: 16px;
        	width: 100%;
        }
    }
    @media screen and (max-width: 600px) {
        .test_button{
            display: none !important;
        }
        #show-hide{
          display: none;
        }
        #document_mobile,#login_mobile{
          display: block;
        }
        .left-content{
          display: none;
        }
        .left-content-mobile{
          display: block;
        }
        .address{
          color: #fff;
          font-size: 18px !important;
          margin-bottom: 30px !important;
        }
        .icon-footer{
         margin :5px;
         font-size: 50px !important;
        }
    }
    .modal-open {
    padding-right: 0px !important;
}
  
    .has-sub-menu{
      position: relative;
    }

    .has-sub-menu:hover > .sub-menu-2nd-level{
      display: inline;
    }
    .sub-menu-2nd-level{
      position: absolute;
      display: none;
      z-index: 1;
      left: 100%;
      top: 1px;
      
  }

.list-item-footer{
  list-style-type: none;
}
.list-item-footer-item:hover{
  text-decoration: underline;
}
.list-item-footer-item{
  color: #fff;
  font-size: 13px;
  
  font-family: 'ROBOTO';
}
.list-tag{
  padding-left: 22px;
  color: #fff;
  font-size: 13px;
  
}
.list-tag-text{
  color : #fff;
  
  background: linear-gradient(to right, red 50%, white 50%) no-repeat;
  background-size: 60% 2px;
  background-position: left bottom;
}

.icon-list{
  /*text-align: center;*/

}
.icon-footer{
 margin :5px;
 font-size: 45px;
}



/*///////////////////////////////////////////*/

@media screen and (min-width: 659px) {
        #accordion{
          padding-left: 15px !important;
        }
        
    }
@media screen and (max-width: 659px) {
        .footer-img{
            width: 70%;
        }
    }
@media only screen and (min-width: 995px) and (max-width: 1200px)
    {
        #item-list-big-screen{
          display: show;
        }
        #accordion{
          display: none;
        }
        
        .list-item-footer-item{
        color: #fff;
        font-size: 8px;
        
        font-family: 'ROBOTO';
      }
      .list-tag{
        padding-left: 22px;
        color: #fff;
        font-size: 8px;
        
      }
    }

@media only screen and (min-width: 1201px)
    {
      #item-list-big-screen{
          display: show;
        }
      #accordion{
          display: none;
        }
    }
#accordion .card {
    border: none;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: #a0e1f9;
}

#accordion .card-header {
    background-color: #3998db;
    border: none;
    margin: 0;
    border-radius: 10px 10px 0px 0px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
}

#accordion .card-header .card-link {
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    margin: auto;
}

#accordion .card-body {
    background-color: #55c8f2 !important;
    border: none;
    width: 100%;
    padding: 0 1.25em;
    overflow-x: hidden;
    background: linear-gradient(to right, #78fc4c 50%, white 50%) no-repeat;
    background-size: 100% 3px;
    background-position: left top;
}

#accordion .card-body .textwidget {
    padding-top: 15px;
    padding-bottom: 15px;
}

#accordion .footer-menu-col {
    margin: 27px 0;
    padding: 0;
    display: unset;
}

#accordion .card-header i.arrow.down {
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 3px;
    margin: -10px 0 0 0;
    min-width: 20px;
    min-height: 20px;
    border-style: solid;
}

#accordion .card-header i.arrow.up {
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 3px;
    margin: -10px 0 0 0;
    min-width: 20px;
    min-height: 20px;
    border-style: solid;
}

i.arrow {
    border-style: solid;
    border-width: 0 8px 8px 0;
    display: inline-block;
    padding: 3px;
    margin: 0px;
    min-width: 25px;
    min-height: 25px;
    color: #fff;
}

.up {
    transform: rotate(
    45deg
);
    -webkit-transform: rotate(
225deg
);
}
.down {
    transform: rotate(
    45deg
);
    -webkit-transform: rotate(
45deg
);
}

.footer-menu-col .footer-menu-item {
    margin: 0 15px;
    list-style: none;
     padding-bottom: 10px;
}

.footer-menu-col .footer-menu-item a {

    color: #fff;
    font-size: 25px;
    font-family: 'ROBOTO';
}

/*.title-logo{
  font-size: 22px !important;
  margin-bottom: -30px; 
}*/

.wrap-footer h3 {
    font-family: 'SVN-GothamMedium';
    color: white;
    text-transform: uppercase;
}
.green-white-bt-border {
    position: relative;
    padding: 0 0 17px 0;
}
.footer-left{
 vertical-align: middle;
}
.img-pos{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.text-center{
  text-align: center;
}
.address{
  color: #fff;
  font-size: 15px;
  margin-bottom: 50px;
}
.left-content{
  margin-left: auto;
  margin-right: auto;
}
.left-content-mobile{
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
}
.example{
    margin:auto;max-width:300px;margin-top: 8px;
    display : none;
}
form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 89%;
  background: #f1f1f1;
}

form.example button {
  float: left;
  width: 11%;
  padding: 10px;
  background: black;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}
@media screen and (max-width: 999px) and (min-width: 600px) {
        .phone-contact{
          display: none;
        }
        .tablet-menu{
          width: 100%;
          height: auto;
          position: fixed;
          opacity: 1;
          top: 36px;
          z-index: 99;
          background-color: rgb(125,211,247);
          text-align: left;
          transition: all 0.5s ease-in-out 0s;
          display: none;
        }
        .tablet-menu > a,p{
          color: #fff;
        }
        .menu-bar{
          display: inline-block !important;
        }
    }

@media screen and (max-width: 1050px) and (min-width: 1000px) {
        .phone-contact{
          display: none;
        }
        .list-tag-text{
          font-size: 22px;
          color : #fff;
        }
        .list-item-footer-item{
          font-size: 15px;
        }
        .tablet-menu{
          width: 100%;
          height: auto;
          position: fixed;
          top: 40px;
          z-index: 99;
          background-color: rgb(125,211,247);
          text-align: left;
          display: none;
          transition: all 0.5s ease-in-out 0s;
        }
        .tablet-menu > a,p{
          color: #fff;
        }
        .menu-bar{
          display: inline-block !important;
        }
    }
@media screen and (max-width: 1050px) and (min-width: 600px) {
        /*.harvard-heading{*/
        /*  display: none;*/
        /*}*/
        #mid-nav{
          display: none;
        }
        .page {
          padding-top: 18px;
          min-height: 820px;
      }
      .menu-bar {
            
            display : block !important;
        }
      
    }
.tablet-menu{
  display: none;
}

.menu-bar {
    position: fixed;
    top: 0px;
    left: -8px;
    z-index: 99;
    width: 50px;
    display : none;
    cursor: pointer;
}
.tablet-menu-open{
  display: block;
}
.tablet-menu-close{
  display: none;
}


/*.container {*/
/*  cursor: pointer;*/
/*  display: block;*/
/*}*/

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #fff;
  margin: 6px 0;
  transition: 0.4s;
  font-size: 20px;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}
.video_0{
    border-radius : 25px;
}
@-moz-document url-prefix() {
  .nav-group--top-bar{
      top : -1px !important;
  }
}
.test_button{
    position: fixed;
    right :0px !important;
    width: 300px;
    height: 40px;
    z-index: 20;
    top: 0px;
}
#documen_bt{
    width: 50%;
    display: inline-block;
    text-align: center;
    background: #de0084;
    height: 100%;
    padding-top: 6px;
    font-family: 'ROBOTO';
    font-weight: bold;
    font-size: 20px;
}
#documen_bt,#login_bt:hover{
    color : #fff;
}
#login_bt{
    color:#fff;
    display: block;
    width: 50%;
    float: right;
    text-align: center;
    background: #1ac754;
    height: 100%;
    padding-top: 7px;
    padding-top: 6px;
    font-family: 'ROBOTO';
    font-weight: bold;
    font-size: 20px;
}

.btn-profile:hover{
    color : #14438f !important;
}
.btn-profile:active,.btn-profile:focus{
    color : #209cd7 !important;


