#body{
        font-family: 'Roboto', serif;
        
    }
    #footer{
        font-family: 'Roboto', serif;
        
    }
    a {
        font-family: 'Roboto', serif;
    }
    .phone-contact p {
        font-family: 'Roboto', serif;
    }
    .nav-group--top-bar li :hover {
        color : unset;
        color : rgb(141, 229, 255) !important; 
    }
    .mobile-navbar-item{
      margin: 0px !important;
      padding: 0px !important;
    }
    .mobile-navbar{
      margin: 0px !important;
      padding: 0px !important;
      background-color: #348ceb;#fcca03
    }.mobile-navbar-2{
      margin: 0px !important;
      padding: 0px !important;
      background-color: #fcca03;
    }
    
    @media only screen and (max-width: 600px) {
        .fa-caret-down{
        float: right;
        display: block;
        padding: 0px 20px 5px 20px;
      }
    }
    @media only screen and (min-width: 601px) {
        .fa-caret-down{
        float: right;
        display: none;
      }
    }
    #video_title {
      text-align : center;
      font-family: 'Roboto';
    }

    /*.button-container {
      background-color: #fafaf4;
    }*/
    .month-select{
      padding-bottom: 20px;
      padding-top: 20px;
    }
    .event-table{
      padding-bottom: 50px;
    }
    .event-detail-link{
      color: blue;
      text-decoration:underline;
    }
    .event-detail-title{
      text-align: center;
    }
    #document_mobile,#login_mobile{
      display: none;
    }
    #show-hide{
      position: fixed; top: 50px; right: 0px; z-index: 1111;
    }
    #toggle_button{
      padding: 13px 7px 13px 7px;background-color: #d62929;margin-left: -4px;font-size: 20px;color: #fff;
    }

    #document_button{
      padding: 13px 32px 13px 32px;background-color: #1ac754;margin-right: -2px;font-size: 20px;color: #fff;
    }
    #login_button{
      padding: 13px 8px 13px 8px;background-color: #fc03c6;margin-left: -2px;font-size: 20px;color: #fff;
    }

    @media screen and (max-width: 1683px) {
        #document_button{
          display: none;
        }
        #login_button{
          display: none;
        }
    }
    @media screen and (max-width: 1023px) {
        #document_mobile,#login_mobile{
          display: block;
        }
        #show-hide{
          display: none;
        }
    }
    @media screen and (min-width: 1024px) {
        #document_mobile,#login_mobile{
          display: none;
        }
        
    }
    @media screen and (max-width: 600px) {
        #show-hide{
          display: none;
        }
        #document_mobile,#login_mobile{
          display: block;
        }
    }
    .modal-open {
    padding-right: 0px !important;
}
  
    .has-sub-menu{
      position: relative;
    }

    .has-sub-menu:hover > .sub-menu-2nd-level{
      display: inline;
    }
    .sub-menu-2nd-level{
      position: absolute;
      display: none;
      z-index: 99999;
      left: 100%;
      top: 15px;
      
  }
    