.sw-btn-prev,.sw-btn-next{
    background-color:#58b6ed !important;
}
.pd-50{
    padding-bottom : 50px;
}
.contentNews{
    width: 80%;
    margin: auto;
}
.post-title h3{
    text-align: center;
    color: rgb(70, 69, 69);
}
.relatedPost{
    width: 90%;
    margin: auto;
}
.testimonial-image{
    width: 60px !important;
    height: 60px;
}
.news-image{
    height: 340px;
}
.header{
    background-color: rgba(233, 238, 251, 0.746); 
    width: 80%; 
    margin: 30px auto;
    text-align: center; 
    padding: 10px;
}
.header h4{
    color: rgb(16, 114, 114);
}
.wrapper{
    width: 80%; 
    margin: auto;
}
.mission{
    color: rgb(26, 188, 156); 
}
.missionContent{
    display: flex; 
    margin: auto;
    border: 1px solid rgba(221, 221, 221, 0.664);
    padding: 20px;
}
.fa-quote-left{
    font-size: 50px; 
    color: rgba(97, 97, 97, 0.37); 
    margin-top: 70px;
}
.missionContent h3{
    font-style: italic; 
    text-align: center;
    font-weight: lighter;
}

.image{
    width: 50%;
    margin: auto;
}
body{
    overflow-x: hidden !important;
}

@media (max-width: 1000px){
    .dropdown{
        display: block !important;
        margin-bottom: 20px;
    }
    .dropdown button{
        background: #FC354C;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #0ABFBC, #FC354C);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #0ABFBC, #FC354C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        border: none;
    }
    .nav-item{
        display: none;
    }
    .nav-tabs{
        margin: 0 !important;
    }
}
@media (max-width: 970px){
    .missionContent h3{
        font-size: 30px;
    }
}
@media (max-width: 770px){
    .image{
        width: 100%;
    }
    .mission{
        font-size: 27px;
    }
    .missionContent h3{
        font-size: 27px;
    }
}
@media (max-width: 700px){
    .missionContent h3{
        font-size: 25px;
    }
}
@media (max-width: 670px){
    .mission{
        font-size: 24px;
    }
    .missionContent i{
        margin-right: 18px !important;
    }
    .missionContent h3{
        font-size: 23px;
    }
    .wrapper, .header{
        width: 90%;
    }
}
@media (max-width: 570px){
    .missionContent h3{
        font-size: 20px;
    }
}
@media (max-width: 500px){
    .wrapper, .header{
        width: 100%;
    }
    .mission{
        font-size: 22px;
    }
    .ourShared h4{
        font-size: 20px;
    }
}
@media (max-width: 450px){
    .missionContent h3{
        font-size: 17px;
    }
}
@media (max-width: 400px){
    .missionContent h3{
        font-size: 15px;
    }
}

