h5 {
    color: #0c4da2
}

table th {
    color: #0c4da2
}

#btn-menu-mobile {
    display: none
}

#sgsis-team-mobile {
    display: none
}

#carouselExampleControls {
    display: none
}

@media screen and (max-width: 540px) {
    #btn-menu {
        display: none
    }
    #demo {
        width: 36%;
    }
    #btn-menu-mobile {
        display: block
    }
    #table-parent {
        width: 840px !important;
    }
    #sgsis-team-web {
        display: none
    }
    #sgsis-team-mobile {
        display: block
    }
    .title-mobile {
        background: #7dd3f7;
        color: #fff !important;
        font-size: 20px;
        font-family: 'roboto';
        padding: 0.5rem 1.5rem !important;
        border-radius: 25px;
        font-weight: 600;
        margin-bottom: 7px;
    }
    .sgsis-team {
        height: auto !important;
    }
    .btn-profile {
        font-size: 20px !important
    }
    #student-council {
        display: none
    }
    .student-council h3 {
        color: #7dd3f7;
        font-size: 1.8em;
    }
    #carouselExampleControls {
        display: block
    }
}

@media only screen and (max-width: 768px) {
    .button-banner {
        width: 50%;
        padding: initial;
        height: auto;
        border-radius: 50px;
        background-color: #de0084;
    }
    .button-text {
        color: #fff;
        font-size: 100%;
    }
    .button-text1 {
        color: #fff;
        font-size: 70%;
    }
    .episode-list {
        width: 100%;
        /*position: absolute;*/
        text-align: center;
        top: 1%;
        height: 15%;
    }
}

@media only screen and (min-width: 769px) {
    .button-banner {
        width: 35%;
        padding: 15px;
        height: 80px;
        border-radius: 50px;
        background-color: #de0084;
    }
    .button-text {
        color: #fff;
        font-size: 200%;
    }
    .button-text1 {
        color: #fff;
        font-size: 150%;
    }
}

.menu-food .btn-menu {
    background: #7dd3f7;
    color: #fff;
    font-size: 15px;
    font-family: 'roboto';
    text-transform: uppercase;
    border-radius: 20px;
    font-weight: 600;
    margin-bottom: 7px;
}

.menu-food .select {
    color: #0c4da2;
}

.button-banner :hover {
    background-color: #de0084;
}

.button-banner :active {
    background-color: #de0084;
}
.week-first-half {
    width: 100%;
    /*position: absolute;*/
    top: 5%;
    padding-top: 50px;
    padding-bottom: 50px;
    height: 100%;
    background-image: url("/public/images/BG_02-01.png");
    background-color: #fafaf4;
}
.modal-content .modal-body {
    padding: 2px;
}

.modal-xl {
    max-width: 70% !important;
    width: 70% !important;
    margin-left: auto;
    margin-right: auto;
}

.background-content {
    background-color: #fafaf4;
    ;
    position: relative;
}

#EYTimetable:hover,
#PYTimetable:hover {
    animation: shake 0.3s;
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}
.early-year {
		width: 100%;
		text-align: center;
		top: 5%;
}
.primary-year {
		width: 100%;
		text-align: center;
		top: 40%;
}
.episode-list {
    width: 100%;
    position: absolute;
    text-align: center;
    top: 0%;
    height: 15%;
}

.nbs-flexisel-item {
    padding-top: 20px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 20px;
}

.btn-small {
    background-color: #175ad4;
    border: none;
    padding: 25px;
    border-radius: 25px;
    z-index: 4;
    position: relative;
}

.btn-small:hover {
    background-color: blue;
}

.btn-small-text {
    font-size: 20px;
    font-style: bold;
    color: white;
    font-family: 'Roboto', serif;
}

.rotate {
    -moz-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
    transform: translateX(-50%) translateY(-50%) rotate(-90deg);
}

.btn {
    margin: 5px;
}

body {
    background: none !important;
}