	
	body{
		overflow-x: hidden;
	}
	.titleNews{
        text-align: center; 
        background-color: #32a895;
        padding: 10px; color: rgb(16, 114, 114);
        color: rgb(16, 114, 114);
        width: 90%;
        margin: auto;
	}
	
	.news-card{
	    border-radius : 0.75rem;
	}
	.news-card-body{
	    background-color: #7dd3f7;
	}
	.news-card-title{
	    color:#fff;
	    text-align : center;
	}
	.news-card-img{
	    object-fit: cover;
	}
	.item{
		margin-bottom: 25px;
		width: 100%;
	}
	
	p{
		color: black;
	}
	.card-news:hover {
	  	background-color: #f2f2f2;
	}
	.card-news{
		height: auto;
	}
	
	.card-img-top{
        height: 240px;
    }
    .card-img-top{
        height: 240px;
    }
    .card-title{
		font-family: Arial, Helvetica, sans-serif;
    }
	.news-body{
		width: 100%;
	}
	.card-title h4{
		color: rgba(0, 0, 0, 0.755);
		font-weight: 500;
	}
	.card-title h5{
		font-weight: 500;
		
	}
	.card-description a{
		color: rgba(0, 0, 0, 0.487);
		font-weight: 600;
	}
	.card-description a:hover{
		text-decoration: underline;
	}

	

	.table {
	   margin: auto;
	   width: 100% !important; 
	}
	.card-header {
		background-color: #ccffdd;
	}
	.collapsing {
	  position: relative;
	  height: 0;
	  overflow: hidden;
	  -webkit-transition-property: height, visibility;
	  transition-property: height, visibility;
	  -webkit-transition-duration: 1.05s;
	  transition-duration: 1.05s;
	  -webkit-transition-timing-function: ease;
	  transition-timing-function: ease;
	}
	.admission-title{
		text-decoration-color: black;
	}
	
	.img-hover-zoom {
	  overflow: hidden; /* Removing this will break the effects */
	  height: 200px;
	}
	/* Quick-zoom Container */
	.zoom img {
	  transform-origin: 0 0;
	  transition: transform .25s, visibility .25s ease-in;
	}

	/* The Transformation */
	.zoom:hover img {
	  transform: scale(1.1);
	}
	table th,td {
	   text-align: center; 
	}
 
	.topnav {
  overflow: hidden;
  background-color: #2866a1;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.topnav .icon {
  display: none;
  background-color: #cacdcf;
}


@media (max-width: 1000px){
	.dropdown{
	  display: block !important;
	  margin-bottom: 20px;
	}
	.dropdown button{
	  background: #FC354C;  /* fallback for old browsers */
	  background: -webkit-linear-gradient(to right, #0ABFBC, #FC354C);  /* Chrome 10-25, Safari 5.1-6 */
	  background: linear-gradient(to right, #0ABFBC, #FC354C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	  border: none;
	}
	.nav-item{
	  display: none;
	}
	.nav-tabs{
	  margin: 0 !important;
	}
  }

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .card-body{
    overflow-x: scroll;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
#subcate-field{
	margin-bottom: 10px;
	margin-top: 10px;
}
.subcate-list{
	margin: 5px;
}
.subcate-list a.active{
	background-color: blue;
	color: white;
}