body {
	background-color: white !important;
}
p {
	margin-bottom: 0;
}
.title > div > p {
	font-size: 14px;
}
.title > div > span {
	color: red;
}
.title > div > h2 {
	font-size: 30px;
	color: rgba(0, 0, 0, 0.85);
}
.red-star::after {
	content: " (*)";
	color: red;
	font-weight: bold;
}
#sig-dataUrl {
	display: none;
}
#sig-canvas {
	border: 2px dotted #cccccc;
	border-radius: 15px;
	cursor: pointer;
	touch-action: none;
}
@media screen and (max-width: 560px) {
	#sig-canvas {
		width: 100%;
	}
	#form {
		overflow-x: scroll;
	}
}
