@media only screen and (max-width: 1600px) {
	.scroll-top{
		right: 3%;
	}
}
@media only screen and (max-width: 1366px) {
	.banner .item .banner-content{
	    padding: 200px 0px;
	}
}
@media only screen and (max-width: 1199px) and (min-width: 992px) {
	header .header-top .left li{
		margin-right: 20px;
	}
	header .header-top .right li{
		margin-left: 5px;
	}
	header .header-top .right li:first-child{
		margin-left: 0px;
	}
	.teachers .teacher-item .teacher-image{
		float: initial;
	}
	.banner-content h2 {
	    font-size: 50px;
	}
	.teacher-details .teacher-skills .skill-item{
		margin-right: 12px;
	}
	.teacher-details .teacher-award li{
		margin-right: 30px;
	}
	.facility-two .facility-item .front-part{
		padding: 40px 10px;
	}
	.facility-two .facility-item .back-part{
		padding: 0px 10px;
	}
	.event-single .event-counter .clock-item{
		margin-right: 5px;
	}
	
}
@media only screen and (max-width: 1199px) {
	header .main-menu ul li a{
		padding: 40px 5px;
	}
	.header-two .top-contents li{
		margin-left: 40px;
	}
	.header-two .main-menu ul li a{
		padding: 25px 9px;
	}
	.header-two .main-menu .menu-search{
		margin: 15px 5px 5px 5px;
	}
	.header-two .main-menu .menu_cart > span{
		margin: 15px 5px 5px 5px;
	}
	.header-two .main-menu .menu-button{
		margin-left: 15px;
	}
	.banner .item .banner-content{
	    padding: 180px 0px;
	}
	.gallery .gallery-item{
	    width: 31.2%;
	}
	.gallery-two .gallery-item{
	    width: 24.99%;
	}
	.event .event-item.wide{
		width: 33.33%;
	}
	.event .event-item.wide .event-image,.event .event-item.wide .event-content{
		width: 100%;
	}
	.subscribe form input:first-child{
		width: 61%;
	}
	.product .product-item-grid{
		width: 29%;
	}
	.product .product-item-grid .icon:nth-child(3){
		left: 13%;
	}
	.product .product-item-grid .icon:nth-child(5){
		right: 13%;
	}
	.product .product-item-grid .pro-content h4 a, .product .product-item-grid .pro-content span{
		font-size: 16px;
	}
	.product .product-item-list .pro-image{
		width: 35%;
	}
	.product .product-item-list .pro-rating{
		top: 15px;
	}
	.product .product-item-list .pro-content{
		padding: 20px;
	}
	.shop-cart table tr th, .shop-cart table tr td{
		padding: 15px;
	}
	.shop-cart table tr .remove-cart{
		width: 80px;
	}
	.teachers-three .teacher-item .teacher-image {
		margin: 0 auto 10px;
	}
}
@media only screen and (max-width: 991px)  and (min-width: 768px) {
	
	.logo-area {
	display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
	align-items: center;
	}
	.logo-area img{
		max-width:60%;
	}
	.logo-area button{
	    display: block !important;
	}
	header .main-menu .navbar-header{
		width: 100%;
		height: 50px;
	}
	header .main-menu .navbar-brand{
		width: 100%;
		padding: 15px;
	}
	header .main-menu .navbar-brand img{
		margin: 0 auto;
	}
	.menu-area {
		display: none;
	}
	.mobile-menu-area {
		display: block;
	}
	
	.navbar-nav{
		float: left!important;
	}
	header .main-menu ul li a{
		padding: 25px 2px;
	}
	header .main-menu .menu_cart > span{
		margin: 20px 5px 10px;
	}
	.header-two .main-menu .navbar-header{
		display: none;
	}
	.header-four .main-menu ul li a{
		padding: 20px;
	}
	.dropdown-toggle::after {
	    margin-left: 0.155em;
	    vertical-align: .155em;
	}
	header .main-menu .menu-search {
		margin-top: 20px;
	}
}
@media only screen and (max-width: 991px) {
	.logo-area {
	    width: 100%;
	    text-align: center;
	}
	header .header-top {
		display: none;
	}
	.header-two .main-menu ul li a{
		padding: 25px 2px;
	}
	.header-two .main-menu .menu-button{
		display: none;
	}
	.banner .item .banner-content{
	    padding: 150px 0px;
	}
	.banner .item .banner-content h3{
		font-size: 32px;
	}
	.banner .item .banner-content h2{
		font-size: 56px;
	}
	.banner-three .banner-content{
		text-align: center;
	}
	.facility .facility-item{
		margin-bottom: 30px;
	}
	.facility-two .facility-item{
		width: 50%;
		margin: 0px;
	}
	.about .about-image{
		margin-bottom: 50px;
	}
	.about .about-content{
		text-align: center;
	}
	.about .about-content ul li{
		float: initial;
		margin-right: 15px;
	}
	.features .feature-item{
		text-align: center!important;
	}
	.features .feature-item .icon{
		float: initial!important;
		margin: 0px 0px 10px;
	}
	.teacher-details .teacher-image{
		margin-bottom: 30px;
	}
	.teacher-details .teacher-skills{
		margin-bottom: 50px;
	}
	.gallery .gallery-item{
	    width: 46.95%;
	}
	.gallery-two .gallery-item{
	    width: 50%;
	}
	.event .event-item, .event .event-item.wide{
		width: 50%;
	}
	.event-two .event-item{
		margin-bottom: 30px;
	}
	.blog .blog-item{
		margin-bottom: 30px;
	}
	.single-post .reply-form{
		margin-bottom: 50px;
	}
	.contact-details ul{
		margin-bottom: 50px;
	}
	.contact-form .contact-input:nth-child(1){
	    width: 100%;
	    float: initial;
	}
	.contact-form .contact-input:nth-child(2){
	    width: 100%;
	    float: initial;
	}
	.product .product-item-grid .icon:nth-child(6){
		right: 13%;
	}
	.pro-details .product-slider{
		margin-bottom: 50px;
	}
	.product .pagination{
		margin-bottom: 50px;
	}
	.subscribe h3{
		margin-bottom: 10px;
	}
	.subscribe form{
		text-align: left;
	}
	.subscribe form input:first-child{
		width: 70%;
	}
	.error-page .error-content:before, .error-page .error-content:after{
		display: none;
	}
	footer .footer-item{
		margin-bottom: 0px;
	}
	.product .product-item-grid {
	    width: 45.2%;
	}
}

@media only screen and (max-width: 990px){
	header .main-menu .navbar-collapse{
		display: none;
	}
}

@media only screen and (min-width: 768px) {
	header .main-menu ul li ul, .navbar-right .dropdown-menu{
		display: none;
	    width: max-content;
	    left: 0px;
	    padding: 0px;
	    border: none;
	    opacity: 0;
	    -webkit-transition: .25s;
	    transition: .25s;
	    border-radius: 0px;
	}
	header .main-menu ul li:hover>ul{
		display: block;
    	opacity: 1;
    	margin: 0;
	}
	header .main-menu ul li ul li a{
		padding: 10px 15px;
		display: block;
	}
	.header-two .main-menu .nav > li:first-child > a{
	    padding-left: 0px;
	}
	/*header .main-menu ul li ul li ul{*/
	/*	left: 100%!important;*/
	/*	right: auto!important;*/
	/*	top: 38px;*/
	/*	display: none!important;*/
	/*}*/
	header .main-menu ul li {
	    position: relative;
	}
	header .main-menu ul li ul li ul {
	    left: 100% !important;
        top: 0;
        display: none;
	}
	header .main-menu ul li ul li:hover>ul{
		display: block;
        
	}
	.open-mobile-menu .mobile-menu-area {
		display: block;
	}
}
@media only screen and (max-width: 767px) {
	header .header-top{
		display: none;
	}
	header .main-menu ul li a{
		padding: 10px 15px;
		border-bottom: 1px solid #f0f0f0;
	}
	header .main-menu ul li:last-child a{
		border: none;
	}
	header .main-menu .menu_cart > span, header .main-menu .menu-search{
		display: none;
	}
	.navbar-nav .open .dropdown-menu .dropdown-header, .navbar-nav .open .dropdown-menu>li>a{
		padding: 10px 15px 10px 25px;
	}
	.header-two .navbar-brand{
		display: block;
	}
	.header-two .main-menu .navbar-collapse.collapse{
		padding-left: 15px;
	}
	.header-two .main-menu ul li a{
	    padding: 10px 15px;
	}
	.header-two .main-menu ul li ul li a{
		color: #fff!important
	}
	.header-four .main-menu ul li a{
		padding: 15px;
	}
	.header-four .main-menu ul li a .icon{
		text-align: left;
		float: left;
		margin-right: 10px;
	}
	.logo-area {
		display: flex;
		
		justify-content: space-between;
		align-items: center;
	}
	.menu-area {
		display: none;
	}
	.banner .item .banner-content{
	    padding: 100px 0px;
	}
	.banner .item .banner-content h3{
		font-size: 26px;
	}
	.banner .item .banner-content h2{
		font-size: 40px;
	}
	.teacher-details .teacher-skills, .teacher-details .teacher-award{
		text-align: center;
	}
	.teacher-details .teacher-skills .skill-item, .teacher-details .teacher-award li{
		margin-right: 10px;
		margin-bottom: 10px;
	}
	.facility-two .facility-item{
		width: 100%;
	}
	.classes .class-item{
		text-align: center;
	}
	.classes .class-item .schedule li{
		width: 33.33%;
	}
	.teachers .teacher-item .teacher-image{
		float: initial !important;
	}
	.gallery .gallery-menu li{
		font-size: 16px;
		padding: 0px 10px 10px;
	}
	.gallery .gallery-menu li.active:before{
		bottom: -9px;
	}
	.gallery .gallery-item{
	    width: 100%;
	}
	.gallery-two .gallery-item{
	    width: 100%;
	}
	.achievements .achievement-item{
		margin-bottom: 50px;
	}
	.event .event-item, .event .event-item.wide{
		width: 100%;
	}
	.event-single .event-counter h4{
		line-height: 1.5;
	}
	.blog-post .post-item .post-content{
		padding: 15px;
	}
	.blog-post .post-item h3{
		font-size: 30px;
	}
	.single-post .post-content h3{
		font-size: 30px;
	}
	.single-post .post-content blockquote{
		padding: 0px;
	}
	.single-post .post-content blockquote:before, .single-post .post-content blockquote:after{
		display: none;
	}
	.single-post .content-bottom ul{
		float: initial!important;
		margin-bottom: 10px;
	}
	.single-post .post-comments li ul{
		margin-left: 60px;
	}
	.single-post .post-comments .comment-image{
		margin-right: 10px;
	}
	.single-post .post-comments .comment-content .comm-reply{
		float: initial;
		display: block;
	}
	.product .product-item-grid{
		width: 96%;
	}
	.product .product-item-grid .icon:nth-child(3){
		left: 38%;
	}
	.product .product-item-grid .icon:nth-child(6){
		right: 38%;
	}
	.product .product-item-grid .pro-content h4 a, .product .product-item-grid .pro-content span{
		font-size: 20px;
	}
	.pro-description .review-item .content h5, .pro-description .review-item .content span, .pro-description .review-item .content .pro-rating{
		float: initial;
	}
	.shop-cart .shipping{
		margin-bottom: 50px;
	}
	.shop-cart .shipping select:nth-child(3), .shop-cart .shipping select:nth-child(4){
		width: 100%;
		float: initial;
	}
	.subscribe form input:first-child{
		width: 65%;
		padding: 13px 20px;
	}
	.subscribe form input:last-child{
		padding: 17px;
	}
	.error-page .error-content h2{
	    font-size: 100px;
	    line-height: 100px;
	}
	.error-page .error-content h3{
	    font-size: 26px;
	}
	.error-page .error-content p{
		font-size: 16px;
	}
	footer .footer-bottom{
		text-align: center !important;
	}
	footer .footer-bottom p{
		margin-bottom: 10px;
	}
	footer .footer-bottom .social-default, footer .footer-bottom .social-default li{
	    float: initial;
	}
	.product .product-item-list .pro-image, .product .product-item-list .pro-content {
		width: 100%;
	}

}
@media only screen and (max-width: 680px) {
	.product .product-item-grid{
		width: 95%;
	}
	.product .product-item-grid .icon:nth-child(3){
		left: 34%;
	}
	.product .product-item-grid .icon:nth-child(6){
		right: 34%;
	}
}
@media only screen and (max-width: 480px) {

.section-header h3{
	font-size: 26px;
}
header .main-menu {
    padding-top: 15px;
}
.page-header h3{
	font-size: 30px;
}
.page-header ul li{
	font-size: 18px;
}
.banner .item .banner-content{
	padding: 100px 0px;
}
.banner .item .banner-content h3{
	font-size: 24px;
}
.banner .item .banner-content h2{
	font-size: 30px;
}
.about .about-content h3{
	font-size: 26px;
}
.event-single .event-counter{
	position: static;
}
.event-single .event-counter h4{
	font-size: 20px;
}
.event-single .event-counter .clock-item{
	margin-right: 10px;
}
.single-post .post-comments li ul{
	margin-left: 20px;
}
.product .product-item-grid .icon:nth-child(3){
	left: 25%;
}
.product .product-item-grid .icon:nth-child(6){
	right: 25%;
}
.pro-details .details h3, .pro-details .details span{
	font-size: 26px;
}
.pro-details .details select{
	padding: 8px 20px;
	margin-right: 0px;
}
.pro-description .nav-tabs>li>a{
	margin-right: 20px;
}
.pro-description .review-item .image {
	height: 60px;
	width: 60px;
	margin-right: 10px;
}
.pagination li{
	margin-right: -2px;
}
.subscribe h3{
	font-size: 30px;
}
.subscribe form input:first-child{
	width: 100%;
	margin-bottom: 10px;
}
.subscribe form input:last-child{
	margin: 0px;
}

.banner{
    padding-bottom: 5px;
}
.padding_custom{
     padding-top: 80px;
}
.logo-area {
	display: flex;
	margin-left: -20px;
	margin-top: -18px;
	justify-content: space-between;
	align-items: center;
}
.logo-area img{
	max-width:70%;
}
.about-two{
	padding-top: 40px;
}
.about-two .explore_us{
	padding-left: 5px;
}
.about-two .explore_us a{
	width:345px;
}
.about-two .container .row{
	padding-bottom: 1px;
}
.classes .container .row .right.col-sm-12.col-md-9.col-xs-9{
	padding:0 0 10px 10px;
	
}
.classes .container .row  hr{
	display: none;
}
.classes .container .row  h3{
	font-size: 24px;
	padding-top: 10px;
}
.classes .container .row  p{
	padding-top: 10px;
	font-size: 13px;
}
.classes .container .row  span{
	font-size: 10px;
}
.banner{
	position: auto;
	
}

.gallery .container .carousel-inner {
	margin-left: 10px;
}
.gallery p{
    font-size: 12px;
}
.banner .alt-banner {
	height: 158px;
	background-size: 100% 158px;
}

.banner .alt-banner .banner-overlay{
	display: none;
}
.banner .alt-banner .banner-content{
	display: none;
}

.banner-slider.swiper-container{
	height:158px;
}
.banner-slider{
	width:100%;
	height:158px;
}
.banner .banner-item img{
	width: 100%;
	height: 25px;
	
}
.banner .banner-item{
	background-repeat-y: no-repeat;
	background-size: 100% 158px;
	background-position:  center; 
	position: relative;
}
.banner .banner-item .book_tour{
	display: none;
}
.banner .banner-item .container .content:nth-child(1){
	float: right;
	max-width: 176px;
	margin-right: 20px;
	padding: 0px;
}
.banner .banner-item .container .content:nth-child(2){
	max-width: 176px;
	margin-left: 0px;
}
.banner .banner-item .container .content h4{
	margin-bottom: -10px;
	font-size: 9px;
}
.banner .banner-item .container .content i{
	font-size: 12px;
}
.banner .banner-item .content .customer img {
	padding-top: 0px;
	width: 50px;
	margin-right: 10px;
	border-radius: 100%;
}
.banner .banner-item .content .customer div{
	font-size: 7px;
}
.row{
	display: flex;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;

}

.topnav{
	margin-right: -30px;
}
.topnav a{
	font-size:17px;
}
.overview-area .topnav{
	margin-right: 0px;
}
.card-body .early .topnav{
	margin-right: 0px;
}
#accordion {
	margin-right: -30px;
}


#accordion_admission {
	width: 96%;
	float: right;
	text-align: center;
}
#accordion_admission table{
	margin-left: -18px;
}
table {
	font-size: 10px;
}

.early {
	display: block;
}

.img-fluid{
	width: 100%;
}

.academics-area{
	padding-bottom: 50px;
}
.academics-area .img-fluid-two{
	width: 88%;
}
.academics-area .row h3{
	font-size: 24px;
}

.academic-item{
	margin-right: -45px;
}


.news-item {
	margin-right: -30px;
}

.gallery .container .row{
	max-height: 243px;
	margin-bottom: 0px;
}
.col-lg-3.col-sm-6.col-xs-12{
	position: relative;
	width: 20%;
	padding-right: 15px;
	margin-right:15px;
	padding-left: 15px;
}
.padding-120{
	padding: 10px 0px;
}
.facility .facility-item h4{
	padding-left: 10px;
}
h4{
	font-size: 13px;
}
.facility .facility-item .icon {
	
	background-color: #e84b3a;
	height: 82.5px;
	width: 82.5px;
	border-radius: 100%;
	display: inline-block;
	text-align: center;
	margin-bottom: 20px;
	
	
}
.section-header{
	padding-top: 15px;
	margin-left: 0px;
}
.section-header h3{
	font-size: 24px;
}
.section-header p{
	font-size: 11px;
}

.about .img-video {
	width: 100%;
	height: 250px;
}
footer .footer-top{
	padding-top: 10px;
}
footer .footer-item .title {
	margin-bottom: 5px;
}
footer .footer-item .footer-about ul {
	margin-bottom: -30px;
}
footer .footer-item {
	margin-bottom: 20px;
}
footer .footer-bottom .line{
	border-top: 0px;
}
footer .footer-bottom {
	padding: 0px;
	margin-top: -21px;
}
footer .footer-top .row{
	padding-left: 50px;
}
#bt_open {
	width: 110px;
	font-size: 13px;
}
.white-box{
	margin-right: -50px;
	margin-left: -30px;
}
.mr_30{
	margin-right: 0px;
}
.enrolment-title{
	font-size: 25px;
}
.enrolment-title2{
	font-size: 18px;
}
.white-box h5{
	font-size: 7px;
}
.main-body {
	padding-left: 20px;
}
#botmanWidgetRoot{
    display: none;
}

}  
/* ============ IPAD Pro ================ */
@media only screen and (max-width: 1199px) and (min-width:992px) {
header .header-top .left{
	margin-left:150px;
/*float: left;*/
}
header .header-top{
    background-size: cover;
}
header .header-top .right{
	margin-right:50px;
    /*float: left;*/
}
.logo-area{
	margin-left: -39px;
    margin-top: -16px;
    width: 183px;
}
.banner .banner-item .banner-content {
    padding: 141px 0;
}
.menu-area {
	width:800px;
    display: flex;
    margin-right: -40px;
    flex-wrap: wrap;
    align-items: left;
    flex-direction: row-reverse;
}
.about-two .explore_us a {
	width: 450px;
}
.gallery .container .carousel-inner {
	margin-left: 0px;
}

.carousel-inner {
	width: 100%;
}
.contact-header {
	display:none;
}
.padding_custom{
     padding-top: 100px;
}
header .main-menu ul li a {
    font-size: 13px;
    font-weight: 700;
    font-style: italic;
    color: #000;
    padding: 8px 12px;
    text-decoration: none;
    display: inline-block;
}

header .header-top .left .up{
	display:none;
/*float: left;*/
}
header .header-top .right .up{
	display:none;
/*float: left;*/
}
.banner-slider.swiper-container{
	height:427px;
}
.banner-seconds.swiper-container{
	height:auto;
}
.img-video{
	width:450px;
	height:300px;
}
footer .footer-bottom .line {
	
	margin-left:28%;
}

#bt_open {
	transform: rotate(0deg);
	bottom: 23px;	
}

}
@media only screen and (max-width: 991px) and (min-width:640px) {
.banner{
    position: auto;
	
}
.banner-slider.swiper-container{
	height:320px;
}
.banner-slider{
	width:100%;
	
}
.banner .banner-item img{
    width: 100%;
}

.banner .banner-item{
	
    background-size: 100% 320px;
    background-position:  center; 
    position: relative;
}
.banner .banner-content {
	display: none;
}
.about-two .explore_us {
	padding-left: 40px;
	padding-top: 50px;
}
.gallery .container .row{
	max-height: 508px;
	margin-bottom: 0px;
}
#bt_open{
	transform: rotate(0deg);
	bottom: 18px;
}

}