.content-gallery-left i {
    float: right;
}

.icon-link {
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.icon-right-arrow {
    background-image: url("/public/images/right-arrow.png");
    width: 35px;
    height: 45px;
}

.icon-left-arrow {
    background-image: url("/public/images/left-arrow.png");
    width: 35px;
    height: 45px;
}

.c-color {
    background: #fafaf4;
}

.main-ourschool {
    text-align: center;
}

.main-ourschool img {
    width: 50%;
}

.main-ourschool .content-wc {
    display: flex;
}

.main-ourschool .content-wc p {
    padding-top: 0px;
    font-family: Roboto;
    color: #0c4da2;
    text-align: left;
}

.main-ourschool .content-overview p {
    padding-top: 15px;
    font-family: Roboto;
    color: #0c4da2;
    font-size: 20px;
    text-align: center;
}

.main-ourschool .left {
    width: 20%;
    margin-left: -3px;
    margin-top: auto;
}

.main-ourschool .left img {
    width: 55%;
    float: left;
    margin-top: 25px;
    margin-left: -12.5px;
}

.main-ourschool .right {
    width: 20%;
    float: right;
    margin-top: auto;
}

.main-ourschool .right img {
    width: 55%;
    float: right;
    margin-top: 25px;
    margin-right: -15.5px;
}

.btn-primary {
    background: #7dd2f9 !important;
    border: 0 !important;
}

.botpad {
    padding-bottom: 22%;
}

.title {
    text-align: center;
}

.title h2 {
    font-family: roboto;
    font-weight: 700;
    font-size: 2.5em;
    text-transform: uppercase;
    color: #0c4da2;
}

.title h4 {
    font-family: roboto;
    font-weight: 700;
    font-size: 2em;
    text-transform: uppercase;
    color: #0c4da2;
}

.title h3 {
    padding: 15px 90px;
    text-transform: uppercase;
    border-radius: 45px;
    font-weight: 700;
    max-width: 70%;
    font-size: 38px;
    line-height: 1.2;
    color: #ffffff !important;
    background: #de0084;
    font-family: Roboto;
    margin-left: 0 !important;
}

.banner {
    position: relative;
}

.button-container {
    width: 100%;
    position: absolute;
    text-align: center;
    top: 75%;
    z-index: 1;
}

.title button {
    padding: 10px 30px;
    text-transform: uppercase;
    border-radius: 20px;
    max-height: 50px;
    font-weight: 700;
    margin-top: -100px;
    border: 0;
    color: #fff;
    background: #de0084;
    font-family: Roboto;
}

.new-text-color {
    text-align: justify;
}

.video-home iframe {
    width: 100%;
    height: 600px;
}

#flexiselDemo3 iframe {
    width: 350px;
    height: 197px;
}

.gallery-campus {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 15px;
}

.gallery-campus img {
    border-radius: 20px;
    margin-bottom: 10px;
}

.pt-70 {
    padding-bottom: 70px;
}

.angle-down {
    text-align: center;
    padding-bottom: 4%;
}

.angle-down i {
    color: #e2087d;
    font-size: 55px;
}

#animation_img {
    height: 350px;
    width: 100%;
}

#value-mobile {
    display: none;
}

#history-mobile {
    display: none;
}

.staff {
    display: flex;
    flex-wrap: wrap;
}

.student {
    display: flex;
    flex-wrap: wrap;
}

.profile {
    width: 20%;
    text-align: center;
}

.profile2 {
    width: 15%;
    text-align: center;
}

.btn-profile {
    padding: 0;
    border-radius: 20px;
    color: #209cd7;
    border: 0;
    font-family: "Roboto";
    font-weight: 700;
}

.profile p {
    color: #209cd7;
    font-size: 15px;
    font-family: 'Roboto';
    height: 0;
}

.staff img {
    width: 50%;
    border-radius: 100%;
    margin: 15px;
    max-width: 169px;
    max-height: 169px;
}

.student img {
    border-radius: 100%;
    margin: 15px;
    max-width: 169px;
    max-height: 169px;
}

.card-history {
    text-align: center;
    border: 2px solid #7dd2f9;
    padding: 2rem 0.5rem;
    border-radius: 15px;
}

.card-year-history {
    text-align: center;
    bottom: -15px;
}

.card-year-history a {
    background: #7dd2f9;
    padding: 0.6rem 2rem;
    border-radius: 30px;
    color: #fff !important;
    font-size: 20px;
    font-weight: 700;
}

.content-adm-process {
    font-size: 2em;
    color: #7dd2f9;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Roboto';
}

.rainbow {
    height: 10px;
    display: flex;
}

.rainbow p {
    width: 16.67%;
    height: 10px;
    padding: 0;
}

.rainbow p:nth-child(1) {
    background: #1d4592;
}

.rainbow p:nth-child(2) {
    background: #e6077e;
}

.rainbow p:nth-child(3) {
    background: #39ab49;
}

.rainbow p:nth-child(4) {
    background: #eb6823;
}

.rainbow p:nth-child(5) {
    background: #fcdd04;
}

.rainbow p:nth-child(6) {
    background: #1f9cd7;
}

.mt-50 {
    margin-top: 50px;
}

.staff-list {
    text-align: center;
    padding: 50px;
}

.staff-list a {
    font-family: Roboto;
    font-size: 2em;
    margin: 5px;
}

.modal-backdrop {
    z-index: 0;
}

.adm-process {
    background-color: #fafaf4;
    background-repeat: no-repeat;
    background-position-y: center;
    background-size: contain;
    width: 100%;
    height: 900px;
    background-image: url("/public/images/admission-process.png");
}

.banner-why-us {
    padding-top: 50px;
}

.policy {
    position: relative;
    background-image: url("/public/images/fee-policy.png");
    background-repeat: no-repeat;
    background-position-y: center;
    background-size: 100% 280px;
    width: 100%;
    height: 300px;
}

.policy button {
    position: absolute;
    color: #fff;
    font-family: roboto;
    border: 0;
    line-height: 1;
    font-weight: 500;
    font-size: 3em;
}

.policy button:hover {
    background: transparent;
}

.policy button:nth-child(1) {
    top: 20%;
    left: 20%;
    text-transform: uppercase;
}

.policy button:nth-child(2) {
    top: 20%;
    right: 17%;
    text-transform: uppercase;
}

#zalo_icon {
    position: fixed;
    bottom: 0;
    left: 0;
}

#phone_icon {
    position: fixed;
    bottom: 50px;
    right: 10px;
}

.title-sgsis {
    text-align: center;
    margin-bottom: 0;
    font-size: 40px;
    padding: 0;
    color: #034ea1;
    font-weight: 600;
    font-family: "Roboto";
}

.main-sgsis {
    background-image: url("../../public/images/aaaa.png");
    background-size: 100%;
    width: 100%;
    padding-bottom: 40px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    height: 68px;
    width: 28px;
    background-color: gainsboro;
}

.carousel-indicators li {
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.carousel-indicators .active {
    background-color: #41c0d4;
}

.modal-images img {
    width: 100%;
}

.title-modal {
    text-align: center;
    font-weight: bold;
    color: #008080;
    font-size: 25px;
}

.scholarship img {
    width: 100%;
    margin-top: -15%;
}

.scholarship {
    position: relative;
    top: 0;
}

.scholarship button {
    padding: 5px 80px;
    text-transform: uppercase;
    border-radius: 50px;
    top: 15%;
    position: absolute;
    max-width: 35%;
    font-weight: 400;
    font-size: 35px;
    text-align: center;
    border: 0;
    color: #fff;
    background: #de0084;
    font-family: Roboto;
}

.scholarship p {
    max-width: 60%;
    position: absolute;
    top: 30%;
    text-align: center;
    font-family: "Roboto";
    color: #fff;
}

.note-fee {
    padding-top: 10px;
    padding-bottom: 15px;
}

.note-fee p {
    padding: 0px;
    margin: 0px;
    font-family: roboto;
}

.testing {
    text-align: center;
    font-family: roboto;
    padding-top: 20px;
}

.testing strong {
    font-family: roboto;
    font-weight: 600;
}

.table tbody th {
    font-family: roboto;
    vertical-align: middle;
}

.table tbody td {
    font-family: roboto;
    vertical-align: middle;
}

.table thead td {
    font-family: roboto;
    text-transform: uppercase;
    vertical-align: middle;
    font-weight: 600;
}

.table thead th {
    font-family: roboto;
    vertical-align: middle;
    font-size: 16px;
    font-weight: 600;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 20px 10px;
    padding: 10px 0;
    width: 100%;
    min-height: 900px;
}

.text-light {
    color: #f8f9fa !important;
}

.welcome-content {
    display: flex;
}

.welcome-content img {
    border-radius: 50%;
    width: 80%;
}

.welcome-content h3 {
    font-size: 22px;
    color: #0c4da2;
    font-family: 'roboto';
}

.welcome-content h4 {
    font-size: 11px;
    color: #0c4da2;
    padding: 0;
    font-family: 'roboto';
}

.curriculum-page {
    display: flex;
}

.curriculum-page h3 {
    font-size: 30px;
    text-align: left;
    color: #7dd3f7;
    text-transform: uppercase;
    font-family: 'roboto';
}

.curriculum-page h4 {
    font-size: 17px;
    text-align: left;
    color: #7dd3f7;
    text-transform: uppercase;
    font-family: 'roboto';
}

.curriculum-page .sub-menu {
    height: fit-content;
    border-right: 1px solid #7dd3f7;
    padding-top: 2%;
}

.curriculum-page p {
    font-family: 'roboto';
    padding-top: 0px;
    padding-bottom: 0;
    color: black;
}

.curriculum-page a {
    font-family: 'roboto';
    font-size: 13px;
    color: #000000;
    text-transform: uppercase;
}

.curriculum-link a {
    font-family: 'roboto';
    font-size: 20px;
    text-transform: none;
    color: #0c53b7;
}

.curriculum-overview {
    padding-bottom: 10%;
}

.curriculum-overview h4 {
    font-size: 23px;
    text-align: left;
    color: #7dd3f7;
    text-transform: uppercase;
    font-family: 'roboto';
}

.curriculum-overview p {
    font-family: 'roboto';
    padding-top: 15px;
    padding-left: 5%;
    padding-bottom: 0;
}

.curriculum-overview a {
    font-family: 'roboto';
    font-size: 20px;
    color: #0c4da2;
    border-bottom: 1px solid;
}

.admission-link {
    text-align: center;
}

.admission-link .link {
    padding-bottom: 10px;
}

.admission-link .link a {
    font-family: 'roboto';
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    color: #0c4da2;
    border-bottom: 1px solid;
}

.grid-container .item1 {
    grid-row-start: 1;
    position: relative;
    grid-row-end: 3;
    background-color: rgb(255, 238, 137);
    cursor: pointer;
}

.grid-container .content-wrap {
    position: absolute;
}

.grid-container .item2 {
    grid-column-start: 2;
    position: relative;
    grid-column-end: 6;
    background-color: rgb(158, 222, 249);
    cursor: pointer;
}

.grid-container .item3 {
    position: relative;
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: rgb(158, 222, 249);
    cursor: pointer;
}

.grid-container .item4 {
    position: relative;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 6;
    background-color: rgb(255, 238, 137);
    cursor: pointer;
}

.grid-container .item5 {
    position: relative;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: rgb(158, 222, 249);
    cursor: pointer;
}

.grid-container .item6 {
    position: relative;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 6;
    background-color: rgb(158, 222, 249);
    cursor: pointer;
}

.grid-container .item-wrap {
    display: flex;
    align-items: center;
    vertical-align: middle;
    justify-content: center;
    margin: auto;
    width: 100%;
    height: 100%;
    z-index: 2;
    position: absolute;
    opacity: 0;
    transition: all 1s ease;
    cursor: pointer;
}

.grid-container .item1 .item-wrap {
    background-image: url(../../public/images/advantage/01.jpg);
}

.grid-container .item2 .item-wrap {
    background-image: url(../../public/images/advantage/02.jpg);
}

.grid-container .item3 .item-wrap {
    background-image: url(../../public/images/advantage/03.jpg);
}

.grid-container .item4 .item-wrap {
    background-image: url(../../public/images/advantage/04.jpg);
}

.grid-container .item5 .item-wrap {
    background-image: url(../../public/images/advantage/05.jpg);
}

.grid-container .item6 .item-wrap {
    background-image: url(../../public/images/advantage/06.jpg);
}

.grid-container .content-wrap {
    position: absolute;
    z-index: 1;
}

.grid-container .item-wrap:hover {
    opacity: 1;
}

.grid-container h3 {
    text-transform: uppercase;
    font-family: roboto;
    color: #0c4da2;
    font-size: 25px;
    padding: 35px;
    text-align: center;
}

.title-homepage {
    text-align: center;
    text-transform: uppercase;
}

.title-homepage h2 {
    color: #0c4da2;
    font-family: roboto;
}

.form-control {
    border-radius: 10px !important;
    border-color: #7dd3f7;
}

.card-event {
    background-color: #e4e5ef;
    padding: 24px;
    border-radius: 10px;
    border: 1px solid #7c95c5;
    margin-bottom: 12px;
}

.btn_register_online {
    background: #de0084;
    padding: 7px 15px 7px 15px;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    border-radius: 50px;
}

.btn_register_online:hover {
    color: #fff;
    background: #de0084;
}

.card-event label {
    font-family: 'Roboto' !important;
}

.gallery-homepage {
    display: flex;
}

.gallery-homepage .left {
    width: 48%;
    margin-top: auto;
    margin-bottom: auto;
}

.gallery-homepage .right {
    width: 48%;
    margin-top: auto;
    margin-bottom: auto;
}

.gallery-homepage .left img {
    border-radius: 30px;
}

.gallery-homepage .right img {
    border-radius: 30px;
}

.gallery-homepage .right p {
    font-family: roboto;
    margin-left: -15px;
    font-size: 40px;
    font-weight: 600;
    padding: 0;
    text-transform: uppercase;
    color: #ec008c;
}

.gallery-homepage .left p {
    font-family: roboto;
    margin-right: -15px;
    position: relative;
    text-align: end;
    font-size: 40px;
    padding: 0;
    font-weight: 600;
    text-transform: uppercase;
    color: #ffda05;
}

.gallery-homepage .right p>i {
    padding-right: 30px;
    font-size: 34px;
}

.gallery-homepage .left p>i {
    padding-left: 30px;
    font-size: 34px;
}

#advantage-mobile {
    display: none;
}

#gallery-home-mb {
    display: none;
}

.footer-mb {
    display: none;
}

.footer-mb-title {
    display: none;
}

.footer_outro_mb {
    display: none;
}

.contact-image-background img {
    width: 100%;
}

.sgsis-team {
    height: 600px;
}

.gallery-homepage .content-gallery {
    padding-left: 9%;
    margin-top: -4%;
}

.gallery-homepage .content-gallery a {
    font-family: 'Roboto';
    font-size: 16px;
}

.gallery-homepage .content-gallery-left {
    text-align: right;
    padding-right: 9%;
    margin-top: -3%;
}

.gallery-homepage .content-gallery-left a {
    font-family: 'Roboto';
    font-size: 16px;
}

.student-council {
    display: flex;
    padding-bottom: 5%;
}

.student-council h1 {
    text-align: center;
    color: #7dd3f7;
    text-transform: uppercase;
    font-family: 'roboto';
    font-size: 30px;
    font-weight: 600;
}

.student-council .group1 {
    display: flex;
}

.student-council .avatar img {
    width: 100%;
    padding: 0px;
}

.student-council .avatar h3 {
    color: #7dd3f7;
    font-family: 'roboto';
    text-align: center;
}

.winter-camp {
    display: flex;
    padding-top: 2%;
}

.event-march {
    display: flex;
    border-radius: 10px;
    background: #7dd2f7;
}

.event-march .left {
    width: 60%;
}

.event-march .left p {
    color: #fff;
    font-family: 'roboto';
    padding-top: 15%;
    padding-left: 5%;
}

.event-march .right {
    width: 40%;
    text-align: right;
}

.event-march .right h3 {
    color: #fff;
    font-family: 'roboto';
    padding-top: 20%;
    padding-right: 16%;
    font-size: 50px;
}

.event-march .right h1 {
    font-family: 'Roboto';
    color: #fff;
    padding-right: 10%;
    margin-top: -10%;
    font-size: 145px;
    font-weight: 600;
}

.event-march .right a {
    color: #fff;
    font-family: 'roboto';
    font-size: 30px;
    font-weight: 600;
}

.pd-5 {
    padding: 5%;
}

.video-wintercamp {
    width: 100%;
    height: 320px;
}

.winter-camp p {
    color: black;
}

.sgsis-tv {
    height: 500px;
}

.sgsis-journal img {
    border-radius: 20px;
}

.parents-essentials {
    display: flex;
}

.parents-essentials .content-parent h3 {
    color: #7dd2f7;
    font-family: 'roboto';
}

.parents-essentials .content-parent p {
    color: black;
    font-family: 'roboto';
    text-align: justify;
    padding-left: 5px;
}

.parents-essentials .sub-menu-parent {
    border: 1px solid #7dd2f7;
    height: fit-content;
}

.parents-essentials .sub-menu-parent h3 {
    color: #7dd2f7;
    font-family: 'roboto';
}

.parents-essentials .sub-menu-parent a {
    color: #7dd2f7;
    font-family: 'roboto';
}

@media only screen and (max-width: 540px) {
    .title h2 {
        font-family: roboto;
        font-weight: 700;
        font-size: 2em;
        text-transform: uppercase;
        color: #0c4da2;
    }
    #value-web {
        display: none;
    }
    #value-mobile {
        display: flex;
    }
    #history-mobile {
        display: block;
    }
    .content-adm-process {
        font-size: 1.4em;
    }
    .title h4 {
        font-family: roboto;
        font-weight: 700;
        font-size: 1em;
        text-transform: uppercase;
        color: #0c4da2;
    }
    .main-ourschool .left {
        width: 24%;
    }
    .main-ourschool .right {
        width: 24%;
    }
    .main-ourschool .content-wc p {
        text-align: center;
        padding: 0 15px 0 15px;
    }
    .main-ourschool .left img {
        width: 100%;
        float: left;
        margin-top: -7rem;
    }
    .main-ourschool .right img {
        width: 100%;
        float: right;
        margin-top: -7rem;
    }
    .botpad {
        padding-bottom: 7%;
    }
    .footer-mb {
        display: block;
    }
    .footer-mb-title {
        display: block;
    }
    .footer_outro_mb {
        display: block;
    }
    #main-footer {
        display: none;
    }
    .banner-why-us {
        padding-top: 24px;
    }
    #advantage {
        display: none;
    }
    #advantage-mobile {
        display: block;
    }
    #gallery-homepage {
        display: none;
    }
    #gallery-home-mb {
        display: block;
    }
    .video-home iframe {
        width: 100%;
        height: 300px;
    }
    .staff img {
        width: 75%;
    }
    #animation_img {
        margin-left: -10%;
        width: 165px;
        height: 90px;
    }
    .withdrawal {
        overflow-x: scroll;
    }
    .sgsis-tv {
        height: 205px;
    }
    .parents-essentials {
        display: block;
    }
    .sgsis-team {
        height: 500px;
    }
    .event-march {
        display: list-item;
        margin-top: 10%;
    }
    .event-march .left {
        width: 100%;
    }
    .event-march .right {
        width: 100%;
        text-align: left;
        padding-left: 0%;
    }
    .event-march .right h3 {
        padding-top: 0;
    }
    .scholarship button {
        padding: 2px 20px;
        font-size: 12px;
    }
    .scholarship p {
        font-size: 7px;
    }
    .title h2 {
        font-size: 2em;
        max-width: 75%;
        margin-right: auto;
        margin-left: auto;
    }
    .mt-50 {
        margin-top: 24px;
    }
    .title-sgsis {
        font-size: 25px;
    }
    .btn-profile {
        font-size: 12px;
    }
    .student img {
        max-width: 100px;
        max-height: 100px;
    }
    .profile {
        width: 75%;
    }
    .profile2 {
        width: 50%;
    }
    .carousel-item {
        height: auto;
    }
    .policy {
        background-size: 100% 130px;
        width: 100%;
        height: 200px;
    }
    .policy button {
        font-size: 1.3em;
    }
    .policy button:nth-child(1) {
        top: 30%;
        left: 17%;
        font-size: 1.2em;
    }
    .policy button:nth-child(2) {
        top: 30%;
        right: 15%;
        font-size: 1.2em;
    }
    .title h3 {
        padding: 15px 25px;
        font-size: 14px;
    }
    .adv-mobile {
        width: 100%;
    }
    .winter-camp {
        display: initial;
    }
    .adv-mobile h3 {
        font-family: 'Roboto';
        font-size: 14px;
        margin-top: 19%;
        text-transform: uppercase;
        text-align: center;
        color: #fff;
    }
    .adv-mobile .left {
        width: 50%;
        background-color: rgb(255, 238, 137);
        height: 150px;
    }
    .adv-mobile .right {
        width: 50%;
        background-color: rgb(125, 211, 247);
    }
    .adv-mobile .left img {
        width: max-content;
        height: 150px;
    }
    .adv-mobile .right img {
        width: max-content;
        height: 150px;
    }
    .gallery-home-mb img {
        border-radius: 20px;
    }
    .gallery-home-mb h3 {
        font-size: 25px;
        font-family: 'roboto';
        color: rgb(224, 10, 126);
        text-align: center;
        text-transform: uppercase;
    }
    .gallery-home-mb p {
        text-align: center;
        font-family: 'Roboto';
        font-size: 12px;
    }
    .footer-mb {
        text-align: center;
    }
    .footer-mb img {
        width: 55%;
    }
    .footer-mb .social {
        list-style: none;
        margin-top: -10%;
        margin-left: 10%;
        margin-bottom: 10%;
    }
    .footer-mb .social li {
        width: 82px;
        padding: 0;
        margin-right: -10%;
    }
    .footer-mb .social img {
        width: 55%;
    }
    .footer-mb .footer_address {
        font-size: 16px;
    }
    .footer-mb h3 {
        font-family: 'Roboto';
        margin-top: -15%;
        color: #fff;
        border-bottom: 1px solid #fff;
        font-weight: 400;
        font-size: 20px;
    }
    .footer-mb-title {
        margin-top: 10%;
    }
    .footer-mb-title h1 {
        font-family: 'Roboto';
        color: #fff;
        border-bottom: 1px solid #fff;
        font-weight: 600;
        font-size: 23px;
    }
    .footer_outro_mb {
        background-color: rgb(19, 67, 143);
    }
    .footer-mb .title-logo-mb {
        color: #fff;
        font-family: "Roboto";
        font-size: 13px;
        margin-top: -26px;
    }
    .footer_outro_mb p {
        text-align: center;
        color: #fff;
        margin: 0;
        font-size: 14px;
        font-family: 'roboto';
        padding-top: 5%;
    }
    .adm-process {
        height: 277px;
    }
    .video-wintercamp {
        width: 100%;
        height: 200px;
    }
    .student-council {
        display: initial;
    }
}

@media only screen and (max-width: 800px) and (min-width: 600px) {
    #animation_img {
        height: 230px;
    }
    #gallery-homepage {
        display: none;
    }
    #gallery-home-mb {
        display: block;
    }
    #flexiselDemo3 iframe {
        width: 210px;
        height: 118px;
    }
    .winter-camp {
        display: initial;
    }
    .sgsis-tv {
        height: 395px;
    }
    .parents-essentials {
        display: block;
    }
    .video-wintercamp {
        width: 100%;
        height: 420px;
    }
    .gallery-home-mb img {
        border-radius: 20px;
    }
    .gallery-home-mb h3 {
        font-size: 25px;
        font-family: 'roboto';
        color: rgb(224, 10, 126);
        text-align: center;
        text-transform: uppercase;
    }
    .student-council {
        display: initial;
    }
    .gallery-home-mb p {
        text-align: center;
        color: black;
        font-family: 'Roboto';
        font-size: 21px;
    }
    .policy button {
        font-size: 2.5em;
    }
    .grid-container h3 {
        font-size: 17px;
    }
    .mt-50 {
        margin-top: 38px;
    }
    .student img {
        max-width: 125px;
        max-height: 125px;
    }
    .scholarship button {
        padding: 4px 50px;
        font-size: 18px;
    }
    .scholarship p {
        font-size: 12px;
    }
    .policy button:nth-child(1) {
        top: 23%;
        left: 16%;
    }
    .policy button:nth-child(2) {
        top: 23%;
        right: 14%;
    }
    .video-home iframe {
        width: 100%;
        height: 400px;
    }
    .adm-process {
        height: 512px;
    }
    .title h3 {
        font-size: 30px;
    }
}

@media only screen and (min-width: 1800px) {
    .contact-form-2 {
        height: 635px;
        background-image: url("public/frontEnd/assets/img/13.png");
        width: 625px;
        position: absolute;
        z-index: 7;
        top: 333px !important;
        right: 134px !important;
        padding: 45px;
        padding-top: 190px;
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
    .adm-process {
        height: 1280px;
    }
    #animation_img {
        height: 550px;
    }
    .gallery-homepage .content-gallery {
        padding-left: 6%;
        margin-top: -4%;
    }
    .gallery-homepage .content-gallery-left {
        padding-right: 6%;
        margin-top: -3%;
    }
}

.modal-open {
    padding-right: 0px !important;
}

@media only screen and (max-width: 1150px) and (min-width: 1000px) {
    .adm-process {
        height: 685px;
    }
    #flexiselDemo3 iframe {
        width: 290px;
        height: 163px;
    }
    .sgsis-tv {
        height: 445px;
    }
    #animation_img {
        height: 300px;
    }
}

@media only screen and (max-width: 2560px) and (min-width: 2000px) {
    .gallery-homepage .content-gallery-left {
        text-align: right;
        padding-right: 5%;
        margin-top: -1%;
    }
    .adm-process {
        height: 1705px;
    }
    .gallery-homepage .content-gallery {
        padding-left: 54px;
        margin-top: -2%;
    }
    .gallery-homepage .content-gallery a {
        font-size: 25px;
    }
    .gallery-homepage .content-gallery-left a {
        font-size: 25px;
    }
    #animation_img {
        height: 690px;
    }
    .main-ourschool .right img {
        width: 50%;
        float: right;
        margin-top: 70px;
        margin-right: -15.5px;
    }
    .main-ourschool .left img {
        width: 50%;
        float: left;
        margin-top: 70px;
        margin-left: -12.5px;
    }
}

@media screen and (max-width: 1800px) and (min-width: 1350px) {
    #animation_img {
        height: 400px;
    }
}

@media only screen and (max-width: 480px),
only screen and (max-device-width: 480px) {
    /* CSS overrides for mobile here */
    .value {
        width: 100%;
        height: 100%;
    }
}