.profile2 p {
    color: #209cd7;
    font-size: 15px;
    font-family: 'Roboto';
    height: 0;
}
.contact-image-background img {
	width: 100%;
	
}

@media only screen and (max-width: 540px) {
	.welcome-content p{
		font-size: 14px;
	}
}
.carousel-nav-icon {
	height: 48px;
	width: 48px;
}
.nav-group--top-bar {
	padding-right: 0px;
}
.nav-group--top-bar a::hover {
	background-color: yellow;
}
/* .carousel-item {
   .col, .col-sm, .col-md {
      margin: 8px;
      height: 300px;
      background-size: cover;
      background-position: center center;
   }
} */
header h2 {
	color: #00bef4;
}
::placeholder {
	padding-bottom: 10px;
}
.harvard-heading__link {
	width: 100%;
	top: -1px;
	right: 12%;
	background-size: 111% auto;
}
.nav-group--consistent a:before {
	background: transparent;
}
.btn-subscribe {
	background: #0c4da2;
	font-family: "Roboto";
}
.btn-subscribe:hover {
	background: #de0084;
	border-color: chartreuse;
}
.harvard-heading__link:before {
	background: transparent;
}
.last-bar-menu a {
	color: rgb(22, 65, 148);
	font-family: "Roboto";
}
.list--drop-nav a:hover {
	background: #191970;
}
.nav-group--top-bar a:before {
	background: transparent;
}
#bt_open {
	cursor: pointer;
	z-index: 1;
	transform-origin: left top 0;
	position: fixed;
	right: 80px;
	bottom: 0px;
	background: #bc5d13;
	display: block;
	color: #fff;
	font-size: 18px;
	text-transform: uppercase;
	border-radius: 3px;
	width: 142px;
	height: 36px;
	line-height: 33px;
	text-align: center;
}
.action_footer {
	position: fixed;
	bottom: 1%;
	width: auto;
	right: 80px;
	z-index: 9;
}

#visit_book {
	position: fixed;
	bottom: 0px;
	left: 20px;
	font-family: "Roboto";
	background-color: blue;
	padding: 10px 20px 10px 20px;
	background: #de0084;
	color: #fff;
}

#top_scroll {
	position: fixed;
	bottom: 00px;
	left: 160px;
	height: 42px;
	background: #de0084;

	color: #fff;
}

.phone-contact {
	background: #de0084;
	position: fixed;
	z-index: 100;
	width: 200px;
	height: 40px;
	top: 0;
}
.phone-contact a {
	color: #fff;
	position: fixed;
	padding-top: 4px;
	font-size: 22px;
	padding-left: 18px;
	font-family: Roboto;
	font-weight: 700;
}
.top-nav-1 a {
	font-family: Roboto;
}
.row_2 {
	width: 100%;
}
.harvard-heading__link > img {
	display: none;
}
@media screen and (min-width: 1800px) {
	.in-view .harvard-heading {
		top: 41px;
		right: 10px;
	}
}
input::placeholder {
	transform: translateY(-5px);
}
@media only screen and (max-width: 539px) and (min-width: 414px) {
	.btn_submit {
		font-size: 16px;
		font-family: "Roboto";
		font-weight: 700;
		padding: 10px 20px;
		color: #0c4da2;
		border-radius: 10px;
		background: whitesmoke;
		margin-left: 32%;
		border: 0;
	}
	#animation_imgs {
		position: relative;
		height: 170px;
		width: 100%;
	}

	.footer-text {
		font-size: 20px;
	}
	.menu-txt {
		font-size: 15px;
	}
	#contact-form {
		background-image: url(../img/13.png);
		width: 100%;
		height: 430px;
		background-size: contain;
		background-repeat: no-repeat;
		padding: 150px 45px 45px 55px;
	}
	#name {
		margin-bottom: 10px;
		border-radius: 10px;
		border: 0;
		height: 50px;
	}
	#email {
		margin-bottom: 10px;
		border-radius: 10px;
		border: 0;
		height: 50px;
	}
	#phone {
		margin-bottom: 10px;
		border-radius: 10px;
		border: 0;
		height: 50px;
	}
}

@media only screen and (max-width: 767px) and (min-width: 540px) {
	.btn_submit {
		font-size: 16px;
		font-family: "Roboto";
		font-weight: 700;
		padding: 10px 25px;
		color: #0c4da2;
		border-radius: 10px;
		background: whitesmoke;
		margin-left: 35%;
		border: 0;
	}
	#animation_imgs {
		position: relative;
		height: 230px;
		width: 100%;
	}
	.footer-text {
		font-size: 30px;
	}
	.menu-txt {
		font-size: 12px;
	}
	.contact-image-background {
		display: none;
	}
	#contact-form {
		background-image: url(../img/13.png);
		/* padding: 30px; */
		background-size: contain;
		background-repeat: no-repeat;
		height: 550px;
		width: 100%;
		padding: 200px 55px 50px 60px;
	}
	#name {
		margin-bottom: 30px;
		border-radius: 10px;
		border: 0;
		height: 50px;
	}
	#email {
		margin-bottom: 30px;
		border-radius: 10px;
		border: 0;
		height: 50px;
	}
	#phone {
		margin-bottom: 30px;
		border-radius: 10px;
		border: 0;
		height: 50px;
	}
}

@media only screen and (max-width: 280px) {
	.btn_submit {
		font-size: 16px;
		font-family: "Roboto";
		font-weight: 700;
		padding: 5px 10px;
		color: #0c4da2;
		border-radius: 10px;
		background: whitesmoke;
		margin-left: 27%;
		border: 0;
	}
	#animation_imgs {
		position: relative;
		height: 90px;
		width: 100%;
	}
	.footer-text {
		font-size: 20px;
	}
	.contact-image-background {
		display: none;
	}
	#contact-form {
		background-image: url(../img/13.png);
		padding: 100px 35px 50px 40px;
		background-size: contain;
		background-repeat: no-repeat;
		height: 300px;
		width: 100%;
	}
	#name {
		height: 30px;

		margin-bottom: 5px;
		border-radius: 10px;
		border: 0;
	}
	#email {
		height: 30px;

		margin-bottom: 5px;
		border-radius: 10px;
		border: 0;
	}
	#phone {
		height: 30px;

		margin-bottom: 5px;
		border-radius: 10px;
		border: 0;
	}
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
	.btn_submit {
		font-size: 16px;
		font-family: "Roboto";
		font-weight: 700;
		padding: 10px 25px;
		color: #0c4da2;
		border-radius: 10px;
		background: whitesmoke;
		margin-left: 35%;
		border: 0;
	}
	
	#animation_imgs {
		position: relative;
		height: 320px;
		width: 100%;
	}
	.footer-text {
		font-size: 40px;
	}
	.menu-txt {
		font-size: 11px;
	}

	#contact-form {
		height: 500px;
		background-image: url("../img/13.png");
		width: 400px;
		position: absolute;
		z-index: 7;
		top: 10px;
		right: 10px;
		padding: 45px;
		padding-top: 150px;
		background-size: contain;
		background-repeat: no-repeat;
	}
	#name {
		height: 50px;
		margin: 10px;
		width: 300px;
		margin-bottom: 10px;
		border-radius: 10px;
		border: 0;
	}
	#email {
		height: 50px;
		margin: 10px;
		width: 300px;
		margin-bottom: 10px;
		border-radius: 10px;
		border: 0;
	}
	#phone {
		height: 50px;
		margin: 10px;
		width: 300px;
		margin-bottom: 10px;
		border-radius: 10px;
		border: 0;
	}
}

@media only screen and (min-width: 1023px) and (max-width: 1078px) {
	.btn_submit {
		font-size: 16px;
		font-family: "Roboto";
		font-weight: 700;
		padding: 10px 25px;
		color: #0c4da2;
		border-radius: 10px;
		background: whitesmoke;
		margin-left: 35%;
		border: 0;
	}
	#animation_imgs {
		position: relative;
		height: 450px;
		width: 100%;
	}
	.footer-text {
		font-size: 40px;
		padding-bottom: 0;
	}

	#contact-form {
		height: 540px;
		background-image: url("../img/13.png");
		width: 530px;
		position: absolute;
		z-index: 7;
		top: 45px;
		right: 15px;
		padding: 45px;
		padding-top: 148px;
		background-size: contain;
		background-repeat: no-repeat;
	}
	#visitday {
		width: 95%;
	}
	.booktour_row {
		display: flex;
	}
	.booktour_row input {
		height: 45px;
		border-radius: 10px;
		margin: 5px 5px 3px 10px;
		width: 201px;
	}
	.booktour_row textarea {
		width: 95%;
		height: 75px;
		margin-left: auto;
		border: 0;
		margin-right: auto;
		margin-top: 2%;
		margin-bottom: 1%;
		border-radius: 10px;
	}
}

@media only screen and (min-width: 1079px) {
	.btn_submit {
		font-size: 16px;
		font-family: "Roboto";
		font-weight: 700;
		padding: 10px 25px;
		color: #fff;
		border-radius: 10px;
		background: #191970;
		margin-left: 40%;
		border: 0;
	}
	#animation_imgs {
		position: relative;
		height: 550px;
		width: 100%;
	}
	.footer-text {
		font-size: 40px;
		padding-bottom: 0;
	}

	#contact-form {
		height: 635px;
		background-image: url(../img/13.png);
		width: 625px;
		position: absolute;
		z-index: 7;
		top: 63px;
		right: 17px;
		padding: 45px;
		padding-top: 190px;
		background-size: 100% 100%;
		background-repeat: no-repeat;
	}
	#visitday {
		width: 95%;
	}

	.booktour_row {
		display: flex;
	}
	.booktour_row input {
		height: 50px;
		border-radius: 10px;
		margin: 5px 5px 5px 10px;
		border: 0;
		width: 246px;
	}
	.booktour_row textarea {
		width: 95%;
		margin-left: auto;
		border: 0;
		margin-right: auto;
		margin-top: 5px;
		margin-bottom: 10px;
		border-radius: 10px;
	}
}
.booktour_row textarea {
	outline: none;
	padding: 5px 10px 0 10px;
	font-family: "Roboto";
}

@media only screen and (max-width: 411px) and (min-width: 376px) {
	.btn_submit {
		font-size: 16px;
		font-family: "Roboto";
		font-weight: 700;
		padding: 10px 20px;
		color: #0c4da2;
		border-radius: 10px;
		background: whitesmoke;
		margin-left: 32%;
		border: 0;
	}
	#animation_imgs {
		position: relative;
		height: 170px;
		width: 100%;
	}

	.footer-text {
		font-size: 20px;
	}
	.menu-txt {
		font-size: 15px;
	}
	#contact-form {
		background-image: url(../img/13.png);
		width: 100%;
		height: 550px;
		padding: 150px 45px 50px 55px;
		background-size: contain;
		background-repeat: no-repeat;
	}
	#name {
		margin-bottom: 10px;
		border-radius: 10px;
		border: 0;
		height: 50px;
	}
	#email {
		margin-bottom: 10px;
		border-radius: 10px;
		border: 0;
		height: 50px;
	}
	#phone {
		margin-bottom: 10px;
		border-radius: 10px;
		border: 0;
		height: 50px;
	}
}

@media only screen and (max-width: 375px) and (min-width: 321px) {
	.btn_submit {
		font-size: 16px;
		font-family: "Roboto";
		font-weight: 700;
		padding: 8px 15px;
		color: #0c4da2;
		border-radius: 10px;
		background: whitesmoke;
		margin-left: 30%;
		border: 0;
	}
	#animation_imgs {
		position: relative;
		height: 135px;
		width: 100%;
	}
	.footer-text {
		font-size: 20px;
	}

	#contact-form {
		background-image: url(../img/13.png);
		width: 100%;
		height: 375px;
		padding: 145px 45px 45px 55px;
		background-size: contain;
		background-repeat: no-repeat;
	}
	#name {
		margin-bottom: 10px;
		border-radius: 10px;
		border: 0;
		height: 40px;
	}
	#email {
		margin-bottom: 10px;
		border-radius: 10px;
		border: 0;
		height: 40px;
	}
	#phone {
		margin-bottom: 10px;
		border-radius: 10px;
		border: 0;
		height: 40px;
	}
}

@media only screen and (max-width: 320px) and (min-width: 281px) {
	.btn_submit {
		font-size: 16px;
		font-family: "Roboto";
		font-weight: 700;
		padding: 5px 15px;
		color: #0c4da2;
		border-radius: 10px;
		background: whitesmoke;
		margin-left: 24%;
		border: 0;
	}
	#animation_imgs {
		position: relative;
		height: 110px;
		width: 100%;
	}
	.footer-text {
		font-size: 20px;
	}

	#contact-form {
		background-image: url(../img/13.png);
		width: 100%;
		height: 550px;
		background-size: contain;
		background-repeat: no-repeat;
		padding: 120px 40px 45px 50px;
	}
	#name {
		margin-bottom: 10px;
		border-radius: 10px;
		border: 0;
		height: 35px;
	}
	#email {
		margin-bottom: 10px;
		border-radius: 10px;
		border: 0;
		height: 35px;
	}
	#phone {
		margin-bottom: 10px;
		border-radius: 10px;
		border: 0;
		height: 35px;
	}
}

/*@media only screen and (max-width: 410px) and (min-width: 376px){*/
/*       #animation_imgs{*/
/*      position: relative;*/
/*      height: 90px;*/
/*      width: 100%;*/
/*    }*/
/*  .footer-text{*/
/*    font-size: 20px;*/
/*  }*/

/*    #contact-form{*/

/*    background-image: url('../img/16.png');*/
/*    width:100%;*/
/*    height: 550px;*/
/*    padding: 35px;*/
/*    padding-top: 140px;*/
/*    background-size: contain;*/
/*    background-repeat: no-repeat;*/
/*  }*/
/*  #name{*/
/*  margin-bottom: 25px;*/
/*  border-radius: 10px;*/
/*  border: 0;height: 35px;*/
/*  }*/
/*  #email{*/
/*    margin-bottom: 25px;*/
/*    border-radius: 10px;*/
/*    border: 0;height: 35px;*/
/*  }*/
/*  #phone{*/
/*    margin-bottom: 25px;*/
/*    border-radius: 10px;*/
/*    border: 0;height: 35px;*/
/*  }*/
/*}*/

#name:focus {
	outline: none !important;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}
#email:focus {
	outline: none !important;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}
#phone:focus {
	outline: none !important;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}

#mid-nav {
	background-color: #7dd3f7;
}
/*a {*/
/*	color: #fff;*/
/*}*/
.right-col{
        margin : 20px;

    }
    .left-col{
        margin-bottom : 50px;
        margin-top: 10px
        
    }    

iframe {
    margin-top: 20px;
	border-radius: 12px;
	margin-bottom: 20px;
}

section {
	padding-bottom: 50px;
}

#admissions_page{
    padding-bottom: 50px;
    background: #fafaf4;
    margin-bottom: 0px;
}

#testimonials {
	background-color: rgb(255, 238, 137);
	padding-top: 40px;
}

#testimonials i, .video-home i{
    font-size: 60px;
    color: rgb(255 255 255 / 70%);
    cursor: pointer;
    position: absolute;
    top: 50%;
    z-index: 1;
    left: 50%;
    transform: translate(-50%, -50%);
}

#testimonials i:hover, .video-home i:hover {
    color: rgb(255 255 255 / 100%);
}

#slider-title {
	color: #164494;
	text-align: center;
	font-family: "Roboto";
}

.gallery2 {
	height: 100%;
	background: #00c6ff; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to top,
		#0072ff,
		#00c6ff
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to top,
		#0072ff,
		#00c6ff
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.contact-image {
	position: absolute;
	z-index: 4;
	top: 100px;
	left: 530px;
}
.contact-image-background {
	border-radius: 20px;
	margin-bottom: 30px;
}
.contact {
	position: relative;
	top: 0;
	left: 0;
}
.btn {
	text-align: center;
	border-radius: 20px;
}

.main-content {
	display: flex;
}
.left-logo {
	width: 20%;
	margin-left: -3px;
	margin-top: auto;
	margin-bottom: auto;
}
.left-logo img {
	width: 50%;
	float: left;
}
.content {
	width: 60%;
}
.img-center {
	display: flex;
}

button:hover {
	background: #f3f3f3;
	color: darkgreen;
}
.img-center img {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 24px;
	margin-top: 20px;
	padding: 10px;
	margin-bottom: 20px;
}
.right-logo {
	width: 20%;
	float: right;
	margin-top: auto;
	margin-bottom: auto;
}
.right-logo img {
	width: 50%;
	float: right;
	margin-right: -5px;
}

.gallery-img {
	height: 100%;
	width: 100%;
}
.nav-group--consistent a {
	color: #fff;
	font-family: "Roboto";
}

/*  21  - Footer
----------------------------------------------*/
footer .footer-top {
	padding-top: 40px;
	padding-bottom: 20px;
	
	background: #7dd3f7;
	); /* Chrome 10-25, Safari 5.1-6 */
	/*background: linear-gradient(*/
	/*	to bottom,*/
	/*	#1cb5e0,*/
	/*	#000046*/
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	background-size: cover;
	background-position: center;
}
footer .title-bottom {
	margin-left: auto;
	margin-right: auto;
}
footer .title-bottom p {
	color: #fff;
	line-height: 1.4;
	font-family: "Roboto";
	text-align: center;
}
footer .content-area {
	display: flex;
}
footer .form-row input {
	width: 300px;
	border: 0;
	border-radius: 10px;
	font-family: "Roboto";
	padding: 0 20px;
}
footer .form-row button {
	width: 100%;
	color: #fff;
	border-radius: 10px;
	border: 0;
	font-weight: 700;
}

footer .form-row input:focus {
	outline: none;
}
footer .w-20 {
	width: 17%;
}
footer .w-40 {
	padding-left: 5%;
	width: 49%;
	background-image: url(../img/bottom-logo.png);
	background-position-x: right;
	background-position-y: -4px;
	background-size: 32%;
	background-repeat-x: no-repeat;
	background-repeat-y: no-repeat;
	background-attachment: initial;
	background-origin: initial;
	background-clip: initial;
	background-color: initial;
}
footer .grid-footer {
	padding-top: 50px;
	/*display: flex;*/
}
footer .grid-footer ul {
	list-style-type: none;
	padding-left: 0px;
}
footer .grid-footer li {
	font-size: 10px;
	font-family: "Roboto";
	color: #fff;
}
.list--drop-nav {
	border: 0;
	background: #00bef4;
}
.list--drop-nav:before {
	background: transparent;
}
footer h1 {
	font-size: 15px;
	color: #fff;
	border-bottom: 1px solid #fff;
	font-style: normal;
	font-family: "Roboto";
	font-weight: 900;
}
footer .footer_address {
	color: #fff;
	font-size: 13px;
	font-family: "Roboto";
	margin-top: -17px;
}
footer .title-logo {
	color: #fff;
	font-family: "Roboto";
	font-size: 19px;
	margin-top: -26px;
}
footer .last-footer img {
	width: 84%;
    margin-top: -10%;
    margin-left: 5%;
}
footer .social {
	display: flex;
	margin-top: -20%;
	margin-bottom: -1%;
}
footer .social li{
    width: 52px;
}
footer .social li a img{
    width: 88%;
    margin: 15px 0 6px 0px;
    padding: 0px;
}
.booktour_mobile {
	display: none;
}

@media screen and (max-width: 660px) {
	.harvard-heading__link {
		padding-left: 10px;
	}
	.harvard-heading__link > img {
		display: block;
	}
	#btn-menu {
		color: transparent;
	}
	#contact-form {
		display: none;
	}
	.harvard-heading__link:before {
		background: transparent;
	}
	.harvard-heading {
		left: 38px;
		top: -1px;
		height: 50px;
		margin: auto;
		padding: 0;
		position: fixed;
		right: 0;
		-webkit-transition: top 0.2s;
		transition: top 0.2s;
		z-index: 15;
	}
	.booktour_mobile {
		position: absolute;
		top: 37%;
		width: 50%;
		display: block;
		right: 30px;
	}
	.page {
		padding-top: 20px;
	}
	.phone-contact {
		display: none;
	}
	.row {
		width: 100%;
		margin-left: 0;
	}
	.card--video-bg {
		/*padding: 85px;*/
		padding: 0 0 !important;
	}
	footer .footer_outro {
		font-size: 13px;
	}
	footer .last-footer img {
		width: 55%;
		margin-top: -16%;
		margin-left: -6%;
	}
	footer .title-logo {
		font-size: 13px;
	}
	footer .grid-footer {
		padding-top: 15px;
	}
	.carousel-item {
		height: 226px;
	}
	.left-logo img {
		width: 100%;
	}
	.right-logo img {
		width: 100%;
	}
	footer .form-row input {
		width: 100%;
		padding: 15px 20px;
	}
	/*============== Form Registration mobile ===============*/
	#booktournew {
		background: rgb(0, 0, 0, 0.7);
	}
	#booktournew .modal-content {
		background: transparent;
		width: 70%;
		border: 0;
		margin-top: 30%;
		margin-right: 14%;
		margin-left: auto;
	}
	#booktournew .modal-dialog {
		height: 700px;
		background-image: url(../img/11_03.png);
		background-size: 100% 630px;
		background-repeat: no-repeat;
	}
	#booktournew .modal-body {
		margin-top: 27%;
	}
	#booktournew .modal-title {
		font-family: Nunito;
		font-weight: 700;
		font-size: 25px;
		color: #fff;
	}
	#booktournew .row-bookatour {
		width: 100%;
	}
	#booktournew .close {
		color: #fff;
		font-family: Nunito;
		right: 10px;
		top: 18px;
		position: absolute;
		font-weight: 800;
		font-size: 30px;
	}
	#booktournew .modal-header {
		border: 0;
		background: trannsparent;
	}
	#booktournew .submit-btn {
		margin-top: 1%;
		background: #191970;
		padding: 7px 20px;
		border: 0;
		border-radius: 18px;
	}
	#booktournew .mt-25 {
		margin-top: 10px;
	}

	#booktournew .btn-registration p {
		font-family: "Nunito";
		font-size: 18px;
		display: none;
		font-weight: 700;
		width: 170px;
		margin-top: 10px;
		border-radius: 14px;
		padding: 5px 10px;
		color: #fff;
		background: rgb(230, 0, 126);
	}
	#booktournew input {
		border-radius: 10px;
		background: #fff;
	}
	#booktournew textarea {
		height: 80px;
	}
	#booktournew .ti-check1 {
		font-family: "Roboto";
		font-size: 16px;
		font-weight: 700;
		color: #fff;
	}

	/*================== end ================*/
}
@media screen and (max-width: 375px) {
	.carousel-item {
		height: 215px;
	}
}
.form-control {
	font-family: "Roboto";
}
footer .social li a {
	color: #fff;
	text-decoration: none;
}
footer .w-40 p {
	color: #fff;
	line-height: 1.4;
	font-size: 13px;
}
footer .footer_outro {
	color: #fff;
	font-family: "Roboto";
	border-top: 1px solid #fff;
	padding-top: 5px;
	font-size: 13px;
}

footer .footer-bottom {
	border-top: 1px solid #05578c;
	background-color: #fafafa;
	padding: 10px 0px;
}
footer .footer-bottom p {
	font-weight: 700;
	margin: 0px;
	text-align: center;
	color: #fff;
	line-height: 40px;
}
footer .footer-bottom .line {
	border-top: 3px solid #fff;
	width: 396px;
	margin-left: 32%;
}
footer .footer-bottom p a {
	color: #ee257c;
	text-decoration: none;
}
footer .footer-bottom .social-default {
	float: right;
}
.pt-70 {
	padding-top: 70px;
}
.action_footer {
	position: fixed;
	bottom: 1%;
	width: auto;
	right: 90px;
	bottom: 50px;
	z-index: 9;
}
.action_footer a {
	float: right;
	/*background: #08436b;*/
	padding: 5px 10px;
	border-radius: 3px;
	margin-bottom: 10px;
	color: #333;
	z-index: 99999999999;
}
.action_footer a img {
	height: 63px;
    width: 63px;
}
@media only screen and (max-width: 800px) and (min-width: 700px) {
	.carousel-item {
		height: 415px;
	}
	.left-logo img {
		width: 100%;
	}
	footer .social li a img{
	    margin: 80px 0 6px 0px;
	}
	.right-logo img {
		width: 100%;
	}
	.phone-contact {
		display: block;
		height: 36px !important;
	}
	.nav-group--top-bar {
		text-align: center;
		padding-left: 49px;
	}
	footer .last-footer img {
		width: 32%;
		margin-top: -8%;
		margin-left: 0%;
	}
	#contact-form {
		display: none;
	}
	.booktour_mobile {
		display: block;
		position: absolute;
		top: 45%;
		width: 50%;
		display: block;
		right: 12px;
	}

	/*============== Form Registration mobile ===============*/
	#booktournew .modal-content {
		background: transparent;
		width: 70%;
		border: 0;
		margin-top: 30%;
		margin-right: 12%;
		margin-left: auto;
	}
	#booktournew .modal-dialog {
		height: 700px;
		background-image: url(../img/11_03.png);
		background-size: 100% 670px;
		background-repeat: no-repeat;
		max-width: 475px;
	}
	#booktournew .modal-body {
		margin-top: 27%;
	}
	#booktournew .modal-title {
		font-family: Nunito;
		font-weight: 700;
		font-size: 25px;
		color: #fff;
	}
	#booktournew .row-bookatour {
		width: 100%;
	}
	#booktournew .close {
		color: #fff;
		font-family: Nunito;
		right: 10px;
		top: 18px;
		position: absolute;
		font-weight: 800;
		font-size: 30px;
	}
	#booktournew .modal-header {
		border: 0;
		background: trannsparent;
	}
	#booktournew .submit-btn {
		margin-top: 1%;
		background: #191970;
		padding: 7px 20px;
		border: 0;
		border-radius: 18px;
	}
	#booktournew .mt-25 {
		margin-top: 10px;
	}

	#booktournew .btn-registration p {
		font-family: "Nunito";
		font-size: 18px;
		display: none;
		font-weight: 700;
		width: 170px;
		margin-top: 10px;
		border-radius: 14px;
		padding: 5px 10px;
		color: #fff;
		background: rgb(230, 0, 126);
	}
	#booktournew input {
		border-radius: 10px;
		background: #fff;
		height: 40px;
	}
	#booktournew textarea {
		height: 80px;
	}
	#booktournew .ti-check1 {
		font-family: "Roboto";
		font-size: 16px;
		font-weight: 700;
		color: #fff;
	}
}
@media only screen and (max-width: 540px) {
    #mid-nav {
    background-color: #13438f;
    }
}
@media only screen and (max-width: 1024px) and (min-width: 1000px) {
	footer .footer_address {
		font-size: 9px;
		margin-top: 0;
	}
	footer .title-logo {
		font-size: 13px;
	}
	footer .grid-footer li {
		font-size: 11px;
	}
	footer h1 {
		font-size: 13px;
	}
	footer .grid-footer li {
		font-size: 11px;
	}
	footer .social {
		margin-top: 0;
	}
	footer .social a {
		font-size: 25px;
	}
	.nav-group--consistent a {
	    font-size: 14px;
	}
}

.nav-group--callouts a:before {
	background: transparent;
}
.nav-group--callouts a:hover {
	color: #fff;
}
#searchSite {
	font-family: "Roboto";
}
#img1 {
	position: absolute;
	bottom: 0;
	z-index: 3;
	display: none;
}
#img2 {
	position: absolute;
	bottom: 0;
	z-index: 4;
	display: none;
}
#img3 {
	position: absolute;
	bottom: 0;
	z-index: 5;
	display: none;
}

/* nothing below this point is needed*/
@import url("https://fonts.googleapis.com/css?family=Libre+Franklin:300,400,600,700,800,900&display=swap");
