@media only screen and (max-width: 1600px) {
	.scroll-top{
		right: 3%;
	}
}
@media only screen and (min-width: 1800px) {
	.achievements{
		height: 800px;
	}
}
@media only screen and (max-width: 1366px) {
	.banner .item .banner-content{
	    padding: 200px 0px;
	}
}
@media only screen and (max-width: 1199px) and (min-width: 992px) {
	header .header-top .left li{
		margin-right: 20px;
	}
	header .header-top .right li{
		margin-left: 5px;
	}
	header .header-top .right li:first-child{
		margin-left: 0px;
	}
	.teachers .teacher-item .teacher-image{
		float: initial;
	}
	.banner-content h2 {
	    font-size: 50px;
	}
	.teacher-details .teacher-skills .skill-item{
		margin-right: 12px;
	}
	.teacher-details .teacher-award li{
		margin-right: 30px;
	}
	.facility-two .facility-item .front-part{
		padding: 40px 10px;
	}
	.facility-two .facility-item .back-part{
		padding: 0px 10px;
	}
	.event-single .event-counter .clock-item{
		margin-right: 5px;
	}
	
}
@media only screen and (max-width: 1199px) {
	header .main-menu ul li a{
		padding: 40px 5px;
	}
	.header-two .top-contents li{
		margin-left: 40px;
	}
	.header-two .main-menu ul li a{
		padding: 25px 9px;
	}
	.header-two .main-menu .menu-search{
		margin: 15px 5px 5px 5px;
	}
	.header-two .main-menu .menu_cart > span{
		margin: 15px 5px 5px 5px;
	}
	.header-two .main-menu .menu-button{
		margin-left: 15px;
	}
	.banner .item .banner-content{
	    padding: 180px 0px;
	}
	.gallery .gallery-item{
	    width: 100%;
	}
	.gallery-two .gallery-item{
	    width: 24.99%;
	}
	.event .event-item.wide{
		width: 33.33%;
	}
	.event .event-item.wide .event-image,.event .event-item.wide .event-content{
		width: 100%;
	}
	.subscribe form input:first-child{
		width: 100%;
	}
	.product .product-item-grid{
		width: 29%;
	}
	.product .product-item-grid .icon:nth-child(3){
		left: 13%;
	}
	.product .product-item-grid .icon:nth-child(5){
		right: 13%;
	}
	.product .product-item-grid .pro-content h4 a, .product .product-item-grid .pro-content span{
		font-size: 16px;
	}
	.product .product-item-list .pro-image{
		width: 35%;
	}
	.product .product-item-list .pro-rating{
		top: 15px;
	}
	.product .product-item-list .pro-content{
		padding: 20px;
	}
	.shop-cart table tr th, .shop-cart table tr td{
		padding: 15px;
	}
	.shop-cart table tr .remove-cart{
		width: 80px;
	}
	.teachers-three .teacher-item .teacher-image {
		margin: 0 auto 10px;
	}
}
/*>>>>>>>>>>>>>>>>>> Ipad <<<<<<<<<<<<<< */
@media only screen and (max-width: 991px)  and (min-width: 768px) {
	
	.logo-area {
	display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
	align-items: center;
	}
	.logo-area img{
		max-width:46%;
	}
	header .main-menu .navbar-header{
		width: 100%;
		height: 50px;
	}
	header .main-menu .navbar-brand{
		width: 100%;
		padding: 15px;
	}
	.contact_banner_mb{
	    border-radius: 32px;
	    margin-top: -8%;
        display: block;
    }
    .contact_banner_mb button {
        height: 63px;
        margin-left: -9%;
    }
    .contact_banner_mb span {
        font-size: 28px;
    }
    
	header .main-menu .navbar-brand img{
		margin: 0 auto;
	}
	ul.menu {
		display: none;
	}
	.main-menu.menu-fixed {
	    height: 107px;
	}
	.mobile-menu-area {
		display: block;
	}
	
	.navbar-nav{
		float: left!important;
	}
	header .main-menu ul li a{
		padding: 25px 2px;
	}
	header .main-menu .menu_cart > span{
		margin: 20px 5px 10px;
	}
	.header-two .main-menu .navbar-header{
		display: none;
	}
	.header-four .main-menu ul li a{
		padding: 20px;
	}
	.dropdown-toggle::after {
	    margin-left: 0.155em;
	    vertical-align: .155em;
	}
	.content{
	    padding-top: 15px;
	    font-size: 16px;
	}
	.gallery_center{
	    margin-top: -62px;
	}
	.gallery_center img{
	    width: 91%;
	}
	.left-logo{
	    width: 33%;
	}
	.right-logo{
	    width: 33%;
	}
	header .main-menu .menu-search {
		margin-top: 20px;
	}
	.achievements{
		height:320px;
	}
	.frame-video{
		padding: 5px 5px 0 5px;
		margin-bottom: 0px;
	}
	.video-sgss{
		height: 350px;
		width: 100%;
	}
	
	.pr-100{
		padding-right: 30px;
	}
	.class_title{
	    font-size: 23px;
	}
    .gallery{
        height: 1000px;
        background-size: 100% 860px;
    }
    .classes_img{
        margin-top: -260px;
        max-width: 96%;
    }
    .preschool{
        top: 28%;
    }
    .preschool_img{
        top: 24%;
    }
    .nursery{
        top: 40%;
    }
    .nursery_img{
        top: 29%;
    }
    .gallery_frog{
        bottom: 32%;
    }
    .reception{
        bottom: 23%;
    }
    .reception_img{
        bottom: 26%;
    }
    .square_content{
        height: 162px;
        width: 40%;
    }
    .small{
        font-size: 18px;
        padding: 5px;
    }
    .enrolment_title{
        width: 35%;
        font-size: 20px;
        left: 62px;
        bottom: 257px;
    }
    .small_a{
        font-size: 32px;
    }
    .left_one p{
        font-size: 18px;
        padding-left: 0;
        padding-right: 10px;
    }
    .right_two{
        width: 100%;
    }
    .right_two img{
        margin-top: 23px;
        margin-left: -137px;
    }
    .right_two p{
        font-size: 18px;
        padding-top: 24px;
        padding-left: 3px;
    }
    .left_three p{
        font-size: 18px;
        margin-top: 213px;
        padding-left: 0;
        padding-right: 16px;
    }
    .right_four{
        padding-top: 190px;
    }
    .left_five p{
        font-size: 30px;
        margin-top: 174px;
        padding-left: 0;
        padding-right: 0;
    }
    .enrolment{
        margin-top: -50px;
        height: 1175px;
        background-size: 100% 1400px;
    }
    .rainbow{
        padding-top: 211px;
    }
    .enrolment_content{
        top: 403px;
        font-size: 18px;
    }
	
	.form_text{
	    padding-left: 55px;
	    padding-right: 44px;
	    margin-top: -188px;
	}
	.form_text input{
	    
	    padding-left: 10px;
	    height: 35px;
	}
	.form_register{
	    margin-top: -45%;
	}
	.btn_submit{
	    height: 28px;
	    margin-left: 42%;
	}
	.footer-item .title{
	    margin-top: -30px;
	}
	footer .footer-top{
	    height: 407px;
	    background-size: 100% 407px;
	    margin-top: -268px;
	}
	footer .footer-item .footer-about {
	    margin-top: -12px;
	    padding-left: 0;
	}
	footer .footer-item .footer-about ul li {
	    font-size: 13px;
	}
	.foot_animation_2 .foot_2 {
        margin-top: -25%;
        margin-left: 18%;
        transform: rotate(206deg);
    }
    .foot_animation_2 .foot_3 {
        transform: rotate(235deg);
        margin-left: -43%;
        margin-top: 41%;
    }
    .foot_animation_2 .foot_4 {
        transform: rotate(235deg);
        margin-top: -58%;
        margin-left: 69%;
    }
    .foot_animation_6 {
        margin-left: -8%;
    }

}
@media only screen and (max-width: 991px) {
	.logo-area {
	    width: 100%;
	    text-align: center;
	}
	header .header-top {
		display: none;
	}
	.header-two .main-menu ul li a{
		padding: 25px 2px;
	}
	.header-two .main-menu .menu-button{
		display: none;
	}
	.banner .item .banner-content{
	    padding: 150px 0px;
	}
	.banner .item .banner-content h3{
		font-size: 32px;
	}
	.banner .item .banner-content h2{
		font-size: 56px;
	}
	.banner-three .banner-content{
		text-align: center;
	}
	.facility .facility-item{
		margin-bottom: 30px;
	}
	.facility-two .facility-item{
		width: 50%;
		margin: 0px;
	}
	.about .about-image{
		margin-bottom: 50px;
	}
	.about .about-content{
		text-align: center;
	}
	.about .about-content ul li{
		float: initial;
		margin-right: 15px;
	}
	.features .feature-item{
		text-align: center!important;
	}
	.features .feature-item .icon{
		float: initial!important;
		margin: 0px 0px 10px;
	}
	.teacher-details .teacher-image{
		margin-bottom: 30px;
	}
	.teacher-details .teacher-skills{
		margin-bottom: 50px;
	}
	.gallery .gallery-item{
	    width: 100%;
	}
	.gallery-two .gallery-item{
	    width: 50%;
	}
	.event .event-item, .event .event-item.wide{
		width: 50%;
	}
	.event-two .event-item{
		margin-bottom: 30px;
	}
	.blog .blog-item{
		margin-bottom: 30px;
	}
	.single-post .reply-form{
		margin-bottom: 50px;
	}
	.contact-details ul{
		margin-bottom: 50px;
	}
	.contact-form .contact-input:nth-child(1){
	    width: 100%;
	    float: initial;
	}
	.contact-form .contact-input:nth-child(2){
	    width: 100%;
	    float: initial;
	}
	.product .product-item-grid .icon:nth-child(6){
		right: 13%;
	}
	.pro-details .product-slider{
		margin-bottom: 50px;
	}
	.product .pagination{
		margin-bottom: 50px;
	}
	.subscribe h3{
		margin-bottom: 10px;
	}
	.subscribe form{
		text-align: left;
	}
	.subscribe form input:first-child{
		width: 100%;
	}
	.error-page .error-content:before, .error-page .error-content:after{
		display: none;
	}
	footer .footer-item{
		margin-bottom: 0px;
	}
	.product .product-item-grid {
	    width: 45.2%;
	}
}

@media only screen and (max-width: 990px){
	header .main-menu .navbar-collapse{
		display: none;
	}
}

@media only screen and (min-width: 768px) {
	header .main-menu ul li ul, .navbar-right .dropdown-menu{
		display: none;
	    width: 220px;
	    left: 0px;
	    padding: 0px;
	    border: none;
	    opacity: 0;
	    -webkit-transition: .25s;
	    transition: .25s;
	    border-radius: 0px;
	}
	header .main-menu ul li:hover>ul{
		display: block;
    	opacity: 1;
    	margin: 0;
	}
	header .main-menu ul li ul li a{
		padding: 10px 15px;
		display: block;
	}
	.header-two .main-menu .nav > li:first-child > a{
	    padding-left: 0px;
	}
	/*header .main-menu ul li ul li ul{*/
	/*	left: 100%!important;*/
	/*	right: auto!important;*/
	/*	top: 38px;*/
	/*	display: none!important;*/
	/*}*/
	header .main-menu ul li {
	    position: relative;
	}
	header .main-menu ul li ul li ul {
	    left: 100% !important;
        top: 0;
        display: none;
	}
	header .main-menu ul li ul li:hover>ul{
		display: block;
        
	}
	.open-mobile-menu .mobile-menu-area {
		display: none;
	}
}
@media only screen and (max-width: 767px) {
	header .header-top{
		display: none;
	}
	header .main-menu ul li a{
		padding: 10px 15px;
		border-bottom: 1px solid #f0f0f0;
	}
	header .main-menu ul li:last-child a{
		border: none;
	}
	header .main-menu .menu_cart > span, header .main-menu .menu-search{
		display: none;
	}
	.navbar-nav .open .dropdown-menu .dropdown-header, .navbar-nav .open .dropdown-menu>li>a{
		padding: 10px 15px 10px 25px;
	}
	.header-two .navbar-brand{
		display: block;
	}
	.header-two .main-menu .navbar-collapse.collapse{
		padding-left: 15px;
	}
	.header-two .main-menu ul li a{
	    padding: 10px 15px;
	}
	.header-two .main-menu ul li ul li a{
		color: #fff!important
	}
	.header-four .main-menu ul li a{
		padding: 15px;
	}
	.header-four .main-menu ul li a .icon{
		text-align: left;
		float: left;
		margin-right: 10px;
	}
	.logo-area {
		display: flex;
		
		justify-content: space-between;
		align-items: center;
	}
	.menu-area {
		display: none;
	}
	.banner .item .banner-content{
	    padding: 100px 0px;
	}
	.banner .item .banner-content h3{
		font-size: 26px;
	}
	.banner .item .banner-content h2{
		font-size: 40px;
	}
	.teacher-details .teacher-skills, .teacher-details .teacher-award{
		text-align: center;
	}
	.teacher-details .teacher-skills .skill-item, .teacher-details .teacher-award li{
		margin-right: 10px;
		margin-bottom: 10px;
	}
	.facility-two .facility-item{
		width: 100%;
	}
	.classes .class-item{
		text-align: center;
	}
	.classes .class-item .schedule li{
		width: 33.33%;
	}
	.teachers .teacher-item .teacher-image{
		float: initial !important;
	}
	.gallery .gallery-menu li{
		font-size: 16px;
		padding: 0px 10px 10px;
	}
	.gallery .gallery-menu li.active:before{
		bottom: -9px;
	}
	.gallery .gallery-item{
	    width: 100%;
	}
	.gallery-two .gallery-item{
	    width: 100%;
	}
	.achievements .achievement-item{
		margin-bottom: 50px;
	}
	.event .event-item, .event .event-item.wide{
		width: 100%;
	}
	.event-single .event-counter h4{
		line-height: 1.5;
	}
	.blog-post .post-item .post-content{
		padding: 15px;
	}
	.blog-post .post-item h3{
		font-size: 30px;
	}
	.single-post .post-content h3{
		font-size: 30px;
	}
	.single-post .post-content blockquote{
		padding: 0px;
	}
	.single-post .post-content blockquote:before, .single-post .post-content blockquote:after{
		display: none;
	}
	.single-post .content-bottom ul{
		float: initial!important;
		margin-bottom: 10px;
	}
	.single-post .post-comments li ul{
		margin-left: 60px;
	}
	.single-post .post-comments .comment-image{
		margin-right: 10px;
	}
	.single-post .post-comments .comment-content .comm-reply{
		float: initial;
		display: block;
	}
	.product .product-item-grid{
		width: 96%;
	}
	.product .product-item-grid .icon:nth-child(3){
		left: 38%;
	}
	.product .product-item-grid .icon:nth-child(6){
		right: 38%;
	}
	.product .product-item-grid .pro-content h4 a, .product .product-item-grid .pro-content span{
		font-size: 20px;
	}
	.pro-description .review-item .content h5, .pro-description .review-item .content span, .pro-description .review-item .content .pro-rating{
		float: initial;
	}
	.shop-cart .shipping{
		margin-bottom: 50px;
	}
	.shop-cart .shipping select:nth-child(3), .shop-cart .shipping select:nth-child(4){
		width: 100%;
		float: initial;
	}
	.subscribe form input:first-child{
		width: 65%;
		padding: 13px 20px;
	}
	.subscribe form input:last-child{
		padding: 17px;
	}
	.error-page .error-content h2{
	    font-size: 100px;
	    line-height: 100px;
	}
	.error-page .error-content h3{
	    font-size: 26px;
	}
	.error-page .error-content p{
		font-size: 16px;
	}
	footer .footer-bottom{
		text-align: center !important;
	}
	footer .footer-bottom p{
		margin-bottom: 10px;
	}
	footer .footer-bottom .social-default, footer .footer-bottom .social-default li{
	    float: initial;
	}
	.product .product-item-list .pro-image, .product .product-item-list .pro-content {
		width: 100%;
	}

}
@media only screen and (max-width: 767px) and (min-width: 481px) {
	header .main-menu{
		background-color: #06133d;
		height: 100%;
	}
	.achievements{
		height: 250px;
	}
	.logo-area img{
		max-width: 40%;
	
	}
	.video-sgss{
		width: 500px;
		height: 280px;
		margin-bottom: 25px;
	}
	.frame-video{
		margin-bottom: 15px;
	}
	#registration{
		display: none;
	}
	#registration_mobile{
		display: block;
	}
	.container .row .col-lg-4x .Square{
		width: 400px;
		margin-left: 50px;
		margin-top: 13px;
	}
	.container .row:nth-child(1) .col-lg-4x:nth-child(2) .Square {
		margin-bottom: 0;
	}
	.container .row:nth-child(2) .col-lg-4x:nth-child(2) .Square {
		margin-bottom: 0;
	}
	.formBox {
		padding-left: 0px;
	}
	.pr-100{
		padding-right: 0;
	}
	.square-target{
		margin-left: 44%;
		
	}
	.square-target:after{
		margin-top: 25px;
	}
	.gallery .container .carousel-inner {
		margin-left: 10px;
		height: 340px;
	}
}
/*=============== IPhone X =========*/
@media only screen and (max-width: 480px) {
header .main-menu {
	background-color: #0c4da2;
	height: 60px;
}
.section-header h3{
	font-size: 26px;
}

.set_logo{
	background-image: url(../../images/big_logo.png);
	margin-left: 55px;
	background-size: 115px 90px;
	width: 120px;
	height: 80px;
}

.main-menu.menu-fixed{
	height: 60px;
}
.page-header h3{
	font-size: 30px;
}
.page-header ul li{
	font-size: 18px;
}
.banner .item .banner-content{
	padding: 100px 0px;
}
.banner .item .banner-content h3{
	font-size: 24px;
}
.banner .item .banner-content h2{
	font-size: 30px;
}
.about .about-content h3{
	font-size: 26px;
}
.left-gallery{
    padding-right: 0;
}
.right-gallery{
    padding-left: 10px;
}
	
.logo-area {
	display: flex;
	margin-left: -20px;
	justify-content: space-between;
	align-items: center;
}
.logo-area img{
	max-width:40%;
}
.about-two{
	padding-top: 40px;
}
.contact_banner_mb{
    display: block;
}
.about-two .explore_us{
	padding-left: 5px;
}
.about-two .explore_us a{
	width:345px;
}
.about-two .container .row{
	padding-bottom: 1px;
}
.classes .container .row .right.col-sm-12.col-md-9.col-xs-9{
	padding:0 0 10px 10px;
	
}
.classes .container .row  hr{
	display: none;
}
.classes .container .row  h3{
	font-size: 24px;
	padding-top: 10px;
}
.classes .container .row  p{
	padding-top: 10px;
	font-size: 13px;
}
.classes .container .row  span{
	font-size: 10px;
}
.left-logo{
	width: 34%;
}
.right-logo{
	width: 34%;
}
.content {
    color: #115783;
    font-size: 8px;
    margin-right: -25px;
    padding-top: 8%;
    text-align: center;
    font-family: 'Nunito';
    font-weight: 600;
    margin-left: -25px;
}
.gallery {
    position: relative;
    text-align: center;
    background-image: url(../../images/classes/background.png);
    width: 100%;
    height: 674px;
    background-repeat: no-repeat;
    background-size: 100% 450px;
}
.gallery_center {
    margin-top: -15px;
}
.class_title{
	font-size: 9px;
}
.preschool {
    top: 22%;
    left: 18%;
}
.preschool_img{
	top: 18%;
}
.nursery{
	top: 32%;
}
.nursery_img{
	top: 24%;
}
.reception{
	bottom: 43%;
}
.reception_img{
	bottom: 44%;
	left: 53%;
}
.gallery_frog{
	bottom: 48%;
}
.classes_img{
	max-width: 96%;
}
.square_content{
	width: 40%;
	margin-right: 10%;
}
.small{
	font-size: 8px;
	padding: 5px;
	padding-top: 10px;
}
.small_a{
	font-size: 14px;
}
.testimonial{
    width: 100%;
    padding-top: 33px;
}
.left_one p{
    font-size: 9px;
    padding-left: 10px;
    padding-right: 10px;
}
.strengths_two{
    padding-top: 33px;
}
.left_two{
	width: 100%;
}
.left_two img {
    max-width: 95%;
}
.right_two img{
    width: 100%;
    margin-top: 9px;
    margin-left: -74px;
}
.right_two p{
	font-size: 9px;
    margin-top: -6px;
    padding-top: 0;
    padding-left: 0;
    margin-left: -9px;
}
.left_three{
    width: 48%;
}
.left_three p {
    font-size: 10px;
    margin-top: 47%;
    padding-left: 0;
    padding-right: 10px;
}
.right_four{
	padding-top: 90px;
}
.left_five p {
    color: #0c4da2;
    font-family: 'Nunito';
    font-size: 14px;
    text-align: right;
    margin-top: 61%;
    font-weight: 600;
    line-height: 1.5;
    padding-left: 0px;
    padding-right: 6px;
}
.link_us{
        margin-left: 4%;
        margin-top: -10px;
    }
.rainbow {
    padding-top: 52px;
    margin-left: -6px;
}
.enrolment {
	margin-top: -22px;
    position: relative;
    width: 100%;
    height: 550px;
    background-size: 100% 550px;
}
.enrolment_content {
    width: 47%;
    font-weight: 800;
    font-size: 11px;
    top: 26%;
    left: 19%;
}
.enrolment_title {
    bottom: 171px;
    left: 54%;
    width: 40%;
    padding: 8px;
    font-size: 12px;
}
.row{
	display: flex;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;

}
.achievements{
	height: 156px;
}
.padding-70{
	padding: 20px 0;
	
}
.formBox .submit {
	margin-left: 0px;
}
.frame-video{
	padding-bottom: 0px;
	width: 95%;
	margin-left: 10px;
}
.pd-frame{
	padding: 8px;
}
.video-sgss{
	width: 100%;
    border: 0px;
    height: 189px;
}


.news-item {
	margin-right: -30px;
}

.gallery .container .row{
	max-height: 267px;
	margin-bottom: 0px;
}
.col-lg-3.col-sm-6.col-xs-12{
	position: relative;
	width: 20%;
	padding-right: 15px;
	margin-right:15px;
	padding-left: 15px;
}
.padding-120{
	padding: 10px 0px;
}
.facility .facility-item h4{
	padding-left: 10px;
}
h4{
	font-size: 13px;
}
.facility .facility-item .icon {
	
	background-color: #e84b3a;
	height: 82.5px;
	width: 82.5px;
	border-radius: 100%;
	display: inline-block;
	text-align: center;
	margin-bottom: 20px;
	
	
}
.section-header{
	padding-top: 15px;
	margin-left: 0px;
}
.section-header h3{
	font-size: 24px;
}
.section-header p{
	font-size: 11px;
}

.about .img-video {
	width: 100%;
	height: 250px;
}
footer .footer-item .footer-about {
    padding-left: 0px;
    font-size: 12px;
}
footer .footer-item .title img {
    width: 46%;
    padding-top: 17px;
}
footer .footer-item .title {
    margin-bottom: -7px;
}
footer .footer-top {
    width: 100%;
    position: relative;
    margin-top: -164px;
    height: 308px;
    background-image: url(../../images/footer/top_footer_mb.png);
    background-size: 100% 308px;
    background-repeat: no-repeat;
    background-position: center;
}
footer .form_register{
	display: none;
}
.bottom_footer p {
    color: #fff;
    font-family: nunito;
    text-align: center;
    font-size: 15px;
    padding: 8px;
    margin-bottom: 2px;
    padding-left: 2%;
}
.pr-100{
	padding-left: 25px;
	padding-right: 0px;
}
.col-lg-4x{
	padding-left: 25px;
}
.container .row:nth-child(1) .col-lg-4x:nth-child(4) .Square {
    margin-left: 0px;
}
.container .row:nth-child(3) .col-lg-4x:nth-child(3) .Square {
    margin-left: 0px;
}
.Square{
	margin-top: 20px;
}
#registration{
	display: none;
}
.book_tour_mb{
    display: block;
}
.scroll-top{
    display: none;
}
.title-hightlight{
	font-size: 18px;
}
.square-target {
	margin-left: 44%;
}
.fa-plus-circle{
	font-size: 18px;
	
}
.container .row:nth-child(1) .col-lg-4x:nth-child(2) .Square {
    margin-bottom: 0px; 
}
.container .row:nth-child(2) .col-lg-4x:nth-child(2) .Square {
    margin-top: 20px;
    margin-bottom: 0;
}
.white-box{
	margin-right: -50px;
	margin-left: -30px;
}
.mr_30{
	margin-right: 0px;
}
.enrolment-title{
	font-size: 25px;
}
.enrolment-title2{
	font-size: 18px;
}
.white-box h5{
	font-size: 7px;
}
.main-body {
	padding-left: 20px;
}
.foot_animation_2 .foot_2 {
    margin-top: -25%;
    margin-left: 18%;
    transform: rotate(206deg);
}
.foot_animation_2 .foot_3 {
    transform: rotate(235deg);
    margin-left: -43%;
    margin-top: 41%;
}
.foot_animation_2 .foot_4 {
    transform: rotate(235deg);
    margin-top: -94%;
    margin-left: 81%;
}
.foot_animation_3 {
    width: 16%;
    margin-top: -28%;
    margin-bottom: -23%;
    margin-left: 50%;
    transform: rotate(93deg);
}
.foot_animation_3 .foot_1 {
    transform: rotate(-125deg);
}
.foot_animation_3 .foot_2 {
    margin-top: -66%;
    margin-left: -11%;
    transform: rotate(-123deg);
}
.foot_animation_3 .foot_3 {
    transform: rotate(258deg);
    margin-left: -50%;
    margin-top: 211%;
}
.foot_animation_3 .foot_4 {
    transform: rotate(245deg);
    margin-top: 17%;
    margin-left: -43%;
}
.foot_animation_4{
    margin-bottom: -30%;
}
} 
/*==================== Iphone 8 plus =======================*/
@media only screen and (max-width: 414px) and (min-width: 376px) {
   
    .square_content{
        height: 87px;
    }
    .enrolment_content{
        top: 28%;
    }
    .small{
	font-size: 9px;
    }
    .gallery_center{
        margin-top: -13px;
    }
    .gallery_center img{
        width: 90%;
    }
    .left-logo{
        width: 30%;
    }
    .modal-body {
        margin-top: 75%;
    }
    .contact_banner_mb{
        
        display: block;
    }
    .left_three p {
        margin-top: 58%;
    }
    .right-logo{
        width: 30%;
    }
    .right_two p{
        padding-top: 15px;
    }
    .right_two img{
        margin-left: -81px;
        margin-top: 14px;
    }
    .link_us{
        margin-left: 4%;
        margin-top: -10px;
    }
    .contact_banner_mb button {
        margin-left: 1%;
    }
    
    .right_four{
        padding-top: 108px;
    }
    .rainbow{
        padding-top: 46px;
    }
    .foot_animation_4 {
        margin-bottom: -40%;
    }
    .right_two p{
	font-size: 10px;
    margin-top: -6px;
    padding-top: 0;
    padding-left: 0;
    margin-left: -9px;
}
    
}
@media only screen and (max-width: 375px){
    .square_content{
        height: 79px;
    }
    .foot_animation_3 {
        margin-bottom: -14%;
}
}
/*================= 13.3 inch ============================*/
@media only screen and (max-width: 1280px) and (min-width: 1200px){
    .video-sgss{
        height: 500px;
    }
    .container_2{
        max-width: 1170px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .content{
        padding-top: 10px;
        font-size: 23px;
    }
    .gallery{
        height: 1320px;
        background-size: 100% 1311px;
    }
    .gallery_center{
        margin-top: -52px;
    }
    .gallery_center img{
        width: 90%;
    }
    .class_title{
        font-size: 37px;
    }
    .preschool{
        top: 33%;
        left: 17%;
    }
    .preschool_img{
        left: 26%;
        top: 27%;
    }
    .nursery{
        top: 46%;
        right: 17%;
    }
    .nursery_img{
        top: 33%;
        right: 20%;
    }
    .reception{
        bottom: 12%;
    }
    .reception_img{
        bottom: 15%;
        left: 54%;
    }
    .classes_img{
        margin-top: -15%;
    }
    .classes_img img{
        border-radius: 35px;
    }
    .square_content{
        width: 40%;
        height: 270px;
    }
    .small{
        font-size: 28px;
    }
    .small_a{
        font-size: 40px;
    }  
    .left_one{
        width: 48%;
    }
    .left_one p{
        padding-right: 50px;
        font-size: 27px;
    }
    .left_two{
        width: 88%;
        
    }
    .right_two img{
        margin-left: -45%;
    }
    .right_two p{
        padding-top: 39px;
        font-size: 30px;
    }
    .left_three{
        width: 50%;
    }
    .left_three p{
        margin-top: 57%;
        font-size: 30px;
    }
    .right_four{
        padding-top: 29%;
    }
    .left_five{
        width: 50%;
    }
    .left_five p{
        margin-top: 53%;
        font-size: 37px;
    }
    .enrolment{
        height: 1368px;
        background-size: 100% 1686px;
    }
    .enrolment_content{
        top: 29%;
        font-size: 31px;
    }
    .enrolment_title{
        font-size: 33px;
    }
}
@media only screen and (max-width: 1600px) and (min-width: 1440px){
    .square_content{
        height: 304px;
    }
}
/*================= Full HD 1080 =========================*/
@media only screen and (max-width: 1920px) and (min-width: 1800px){

    .video-sgss{
        height: 770px;
    }
    .container_2{
        max-width: 100%;
        padding-left:0;
        padding-right:0;
    }
    .gallery{
        height: 2000px;
        background-size: 100% 1960px;
    }
    .gallery_center img{
        width: 82%;
    }
    .class_title{
        font-size: 50px;
    }
    .preschool{
        top: 33%;
        left: 17%;
    }
    .preschool_img{
        left: 26%;
        top: 27%;
    }
    .nursery{
        top: 46%;
        right: 17%;
    }
    .nursery_img{
        top: 32%;
        right: 18%;
    }
    .reception{
        bottom: 12%;
    }
    .reception_img{
        bottom: 15%;
        left: 54%;
    }
    .classes_img{
        margin-top: -310px;
    }
    .classes_img img{
        border-radius: 35px;
    }
    .square_content{
        width: 40%;
        height: 404px;
    }
    .small{
        font-size: 44px;
    }
    .small_a{
        font-size: 60px;
    }  
    .left_one{
        width: 48%;
    }
    .left_one p{
        padding-right: 80px;
        font-size: 41px;
    }
    .left_two{
        width: 88%;
        
    }
    .right_two img{
        margin-left: -45%;
    }
    .right_two p{
        padding-top: 69px;
        font-size: 47px;
    }
    .left_three{
        width: 50%;
    }
    .left_three p{
        margin-top: 57%;
        font-size: 47px;
    }
    .right_four{
        padding-top: 29%;
    }
    .left_five{
        width: 50%;
    }
    .left_five p{
        margin-top: 53%;
        font-size: 52px;
    }
    .enrolment{
        height: 1960px;
        background-size: 100% 2520px;
    }
    .enrolment_content{
        top: 29%;
        font-size: 46px;
    }
   
}
/*================= I Mac Pro ===========================*/
@media only screen and (min-width: 1921px){
    header .main-menu{
        height: 150px;
    }
    .set_logo{
        width: 318px;
        height: 204px;
        background-size: 271px 235px;
    }
    .video-sgss{
        height: 1000px;
    }
    .gallery{
        height: 2620px;
        background-size: 100% 2618px;
    }
    .gallery_center{
        max-width: 84%;
        margin-top: -75px;
        margin-left: auto;
        margin-right: auto;
    }
    .class_title{
        font-size: 55px;
    }
    .classes_img{
        margin-top: -14%;
    }
    .classes_img img {
        border-radius: 47px;
    }
    .square_content{
        width: 40%;
        height: 537px;
    }
    .small{
        font-size: 60px;
    }
    .small_a{
        font-size: 80px;
    }
    .left_one p{
        font-size: 56px;
    }
    .left_three p{
        font-size: 59px;
    }
    .right_four{
        padding-top: 29%;
    }
    .left_five p{
        font-size: 75px;
    }
    .enrolment{
        height: 2430px;
        background-size: 100% 3180px;
    }
    .rainbow{
        margin-left: -37px;
    }
    .right_two img{
        margin-left: -42%;
    }
    .right_two p{
        font-size: 69px;
    }
    .enrolment_content{
        font-size: 60px;
        top: 31%;
    }
    .content{
        font-size: 46px;
    }
    .left_two{
        width: 80%;
    }
    footer .footer-top{
        margin-top: -327px;
        height: 800px;
        background-size: 100% 800px;
    }
    .enrolment_title{
        font-size: 69px;
        bottom: 318px;
        font-weight: 800;
        border-radius: 60px;
    }
    .bottom_footer p{
        padding-left: 55%;
        font-size: 43px;
    }
    .container_2{
        max-width: 100%;
        padding-left:0;
        padding-right:0;
    }
    .container_3{
        max-width: 86%;
    }
    .form_register{
        margin-top: -49%;
    }
    .form_register img{
        width: 88%;
        margin-left: 102px;
    }
    footer .footer-item .footer-about {
        font-size: 37px;
        margin-top: -30px;
    }
    footer .footer-item .footer-about ul {
        line-height: 1.4;
    }
    .form_text{
        margin-top: -48%;
        padding-left: 28%;
    }
    .form_text input{
        width: 580px;
        font-size: 30px;
        height: 87px;
        margin-bottom: 25px;
        border-radius : 33px;
        padding-left: 22px;
    }
    .btn_submit{
        width: 190px;
        border-radius: 25px;
        font-size: 33px;
        margin-top: 24px;
        height: auto;
        font-weight: 900;
    }
    .reception{
        bottom: 11%;
    }
    .link_us h3{
        font-size: 40px;
    }
    .reception_img{
        bottom: 13%;
        left: 51%;
    }
    .gallery_frog{
        bottom: 19%;
    }
    .nursery{
        top:47%;
        right: 19%;
    }
    .nursery_img{
        top: 34%;
        right: 20%;
    }
    .preschool{
        top: 35%;
        left: 20%;
    }
    .preschool_img{
        left: 26%;
        top: 29%;
    }
    .link_us a {
        width: 95px;
        height: 95px;
        margin-left: 6px;
        padding: 0px;
    }
    .link_us {
        display: flex;
        width: 60%;
    }
}
/* ============ IPAD Pro ================ */
@media only screen and (max-width: 1199px) and (min-width:992px) {
.form_text {
    margin-top: -256px;
}
.form_text input{
    height: 45px;
    width: 273px;
}
.enrolment_title{
    font-size: 28px;
}
.enrolment_content{
    top: 28%;
    font-size: 24px;
}
.left_one p{
    padding-left:0;
    font-size: 25px;
}
.small{
    font-size: 27px;
}
.small_a{
    font-size: 37px;
}
.left_three p{
    padding-right: 4%;
    font-size: 25px;
    margin-top: 100%;
}
.left_five p {
    margin-top: 248px;
    font-size: 35px;
    padding-left: 0;
}
.right_four{
    padding-top: 279px;
}
.left_three{
    margin-top: -130px;
}
.right_two{
    margin-top: -103px;
}

header .header-top .left{
	margin-left:50px;
/*float: left;*/
}
header .header-top .right{
	margin-right:50px;
    /*float: left;*/
}
header .main-menu{
    position: relative;
    background-color: #0c4da2;
	height: 110px;
    z-index: 9;
}
.logo-area{
	margin-left:-37px;
	width:144px;
}
.set_logo{
	margin-left: 48px;
	width: 220px;
}
.menu-area {
	width:800px;
    display: flex;
    margin-right: -28px;
    flex-wrap: wrap;
    align-items: left;
    flex-direction: row-reverse;
}
.left-logo{
    width: 21%;
}
.right-logo{
    width: 21%;
}
.content{
    max-width: 59%;
    font-size: 21px;
    padding-top: 24px;
}
.about-two .explore_us a {
	width: 450px;
}
.gallery{
    height: 1300px;
    background-size: 100% 1250px;
}
.gallery_center{
    margin-top: -44px;
}
.classes_img{
    margin-top: -220px;
}
.right_two{
    margi-top: -103px;
    width: 78%;
}
.right_two img{
    margin-top: 141px;
    margin-left: -181px;
}
.right_two p{
    padding-top: 0;
    padding-left:0;
}
.contact-header {
	display:none;
}
header .main-menu ul li a {
    font-size: 13px;
    font-weight: 700;
	font-family: Nunito;
    font-style: normal;
    color: #fffff;
    padding: 8px 12px;
    text-decoration: none;
    display: inline-block;
}
header .header-top .left .up{
	display:none;
/*float: left;*/
}
header .header-top .right .up{
	display:none;
/*float: left;*/
}
.banner-slider.swiper-container{
	height:510px;
}
.banner-seconds.swiper-container{
	height:auto;
}
.img-video{
	width:450px;
	height:300px;
}
footer .footer-bottom .line {
	
	margin-left:28%;
}
.video-sgss {
    margin-top: 2px;
    width: 100%;
    border: 0px;
    height: 450px;
}
.achievements{
	height: 425px;
}

.class_title{
    font-size: 30px;
}
.container .row .col-lg-4x .Square {
	width: 290px;
}
.formBox {
	padding-left: 0;
}
.pr-100{
	padding-right: 45px;
}
.classes_img{
    width: 96%;
}
.square_content{
    height: 225px;
    margin-top: -22%;
}

.rainbow{
    padding-top: 8%;
}
.enrolment{
    height: 1156px;
    background-size: 100% 1349px;
}
.foot_animation_2 .foot_2 {
    margin-top: -25%;
    margin-left: 18%;
    transform: rotate(206deg);
}
.foot_animation_2 .foot_3 {
    transform: rotate(235deg);
    margin-left: -43%;
    margin-top: 41%;
}
.foot_animation_2 .foot_4 {
    transform: rotate(235deg);
    margin-top: -58%;
    margin-left: 69%;
}
.foot_animation_3 {
    width: 60%;
    margin-top: -8%;
    margin-bottom: -27%;
    margin-left: 30%;
    transform: rotate(-258deg);
}
.foot_animation_3 .foot_1 {
    margin-top: 10%;
    transform: rotate(-120deg);
}
.foot_animation_3 .foot_2 {
    margin-top: -26%;
    margin-left: 0%;
    transform: rotate(233deg);
}
.foot_animation_3 .foot_3 {
    transform: rotate(258deg);
    margin-left: -5%;
    margin-top: 37%;
}
.foot_animation_3 .foot_4 {
    transform: rotate(245deg);
    margin-top: -12%;
    margin-left: -3%;
}
.foot_animation_4 {
    width: 80%;
    margin-top: 35%;
    margin-bottom: -72%;
    margin-left: 15%;
    transform: rotate(9deg);
}
.foot_animation_6 {
    margin-left: -8%;
}
}
@media only screen and (max-width: 991px) and (min-width:640px) {
.banner{
    position: auto;
	
}
.banner-slider.swiper-container{
	height:320px;
}
.banner-slider{
	width:100%;
	
}
.banner .banner-item img{
    width: 100%;
}
.banner .banner-item{
	
    background-size: 100% 320px;
    background-position:  center; 
    position: relative;
}
.banner .banner-content {
	display: none;
}
.about-two .explore_us {
	padding-left: 40px;
	padding-top: 50px;
}
.gallery .container .row{
	max-height: 508px;
	margin-bottom: 0px;
}
#bt_open{
	transform: rotate(0deg);
	bottom: 18px;
}


}