


/*	01	- Default CSS
----------------------------------------------*/
/* --- 1.0 - Normalize ---*/
html {
    font-family: 'Lora', serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
body {
     font-family: 'Lora', serif;
     font-size: 16px; /*  base font size  15px= 1em*/
     margin: 0;
}
article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
    display: block;
}

audio,canvas,progress,video {
    display: inline-block;
    vertical-align: baseline;
}
audio:not([controls]) {
    display: none;
    height: 0;
}
[hidden],
template {
    display: none;
}
a {
    background-color: transparent;
	color: #707070;
    -webkit-transition: .25s;
    -moz-transition: .25s;
    -ms-transition: .25s;
    -o-transition: .25s;
    transition: .25s;
}
abbr[title] {
    border-bottom: 1px dotted;
}
b,strong {
    font-weight: 700;
}
small {
    font-size: 80%;
}
sub,sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}
img {
    border: 0;
}
svg:not(:root) {
    overflow: hidden;
}
figure {
    margin: 0;
}
hr {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
code,kbd,pre,samp {
    font-size: 1em;
}
button,input,optgroup,select,textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
select {
    text-transform: none;
}
button {
    overflow: visible;
}
button,input,select,textarea {
    max-width: 100%;
}
button,html input[type="button"],input[type="reset"],input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
button[disabled],html input[disabled] {
    cursor: default;
    opacity: .5;
}
button::-moz-focus-inner,input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
input[type="checkbox"],input[type="radio"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-right: 0.4375em;
    padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}
input[type="search"] {
    -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
fieldset {
    border: 1px solid #d1d1d1;
    margin: 0 0 1.75em;
    min-width: inherit;
    padding: 0.875em;
}
fieldset > :last-child {
    margin-bottom: 0;
}
legend {
    border: 0;
    padding: 0;
}
textarea {
    overflow: auto;
    vertical-align: top;
}
optgroup {
    font-weight: bold;
}

/* --- 2.0 - Typography --- */
body,button,input,select,textarea {
    color: #1a1a1a;
    font-family: 'Lora', serif;
    line-height: 1.75;
}

p {
	font-size: 16px;
	color: #707070;
	line-height: 24px;
    margin: 0 0 1.75em;
}
dfn,cite,em,i {
    font-style: italic;
}

.container_1{
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.container_2{
    max-width: 1170px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
}
.container_3{
    max-width: 1177px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.container_4{
    width: 100%;
}
code,kbd,tt,var,samp,pre {
    font-family: 'Lora', serif;
}
pre {
    border: 1px solid #d1d1d1;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.3125;
    margin: 0 0 1.75em;
    max-width: 100%;
    overflow: auto;
    padding: 1.75em;
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}
code {
    background-color: #d1d1d1;
    padding: 0.125em 0.25em;
}
abbr,acronym {
    border-bottom: 1px dotted #d1d1d1;
    cursor: help;
}
mark,ins {
    background: #007acc;
    color: #fff;
    padding: 0.125em 0.25em;
    text-decoration: none;
}
big {
    font-size: 125%;
}

/* --- 3.0 - Elements --- */
html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*,
*:before,
*:after {
    /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}
body {
    background: #fff;
    /* Fallback for when there is no custom background color defined. */
}
hr {
    background-color: #d1d1d1;
    border: 0;
    height: 1px;
    margin: 0 0 1.75em;
}
ul,ol {
    padding: 0;
}
ul {
    list-style: disc;
}
ol {
    list-style: decimal;
    margin-left: 1.5em;
}
li > ul,li > ol {
    margin-bottom: 0;
}
dl {
    margin: 0 0 1.75em;
}
dt {
    font-weight: 700;
}
dd {
    margin: 0 0 1.75em;
}
img {
    height: auto;
    /* Make sure images are scaled correctly. */
    width: 100%;
    /* Adhere to container width. */
    vertical-align: middle;
}
del {
    opacity: 0.8;
}
table,th,td {
    border: 1px solid #d1d1d1;
}
table {
    border-collapse: separate;
    border-spacing: 0;
    border-width: 1px 0 0 1px;
    margin: 0 0 1.75em;
    table-layout: fixed;
    /* Prevents HTML tables from becoming too wide */
    width: 100%;
}
caption,th,td {
    font-weight: normal;
    text-align: left;
}
th {
    border-width: 0 1px 1px 0;
    font-weight: 700;
}
td {
    border-width: 0 1px 1px 0;
}
th,td {
    padding: 0.4375em;
}
/* Placeholder text color -- selectors need to be separate to work. */
::-webkit-input-placeholder {
    color: #696969;
    font-family: 'Lora', serif;
}
:-moz-placeholder {
    color: #696969;
    font-family: 'Lora', serif;
}
::-moz-placeholder {
    color: #696969;
    font-family: 'Lora', serif;
    opacity: 1;
    /* Since FF19 lowers the opacity of the placeholder by default */
}
:-ms-input-placeholder {
    color: #696969;
    font-family: 'Lora', serif;
}


.button-default{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    font-style: italic;
    background-color: #92278f;
    border-radius: 2px;
    padding: 11px 30px;
    transition: .25s ease-out;
}
.button-default:hover, .button-default:focus{
    text-decoration: none;
    color: #fff;
    background-color: #7e007b;
}
.padding-70{
    padding: 70px 0px;
}
.padding-120{
    padding: 120px 0px;
}
.section-header{
    text-align: center;
    max-width: 1050px;
    margin: 0px auto 55px;
}
.section-header h3{
    color: #92278f;
    margin-bottom: 10px;
}
.section-header p{
    line-height: 30px;
    margin: 0px;
}
.section-header.bg h3{
    color: #fff;
}
.section-header.bg p{
    color: #fff;
}

/*  02  - Header
----------------------------------------------*/

.set_logo{
    display:block;
    width: 300px;
	height: 160px;
	background-image: url(../../images/big_logo.png);
	background-repeat: no-repeat;
    background-size: 240px 180px;
}
.set_logo_hide{
    display:block;
    width: 220px;
    height: 90px;
	background-image: url(../../images/footer/logo.png);
	background-repeat: no-repeat;
    background-size: 230px 95px;
}
header .main-menu{
    position: relative;
    background-color: #0c4da2;
	height: 115px;
    z-index: 9;
}
header .main-menu .container{
    position: relative;
}
header .main-menu .navbar{
    margin: 0px;
    border: none;
}
.main-menu.menu-fixed{
    position: fixed;
    top: 0;
    width: 100%;
    height: auto;
	background-color: #0c4da2;
    -webkit-backface-visibility: block;
    backface-visibility: block;
    z-index: 99;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.06);
    box-shadow: 0 1px 4px rgba(0,0,0,0.06);
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{
    color: #e84b3a;
}
header .main-menu ul li a{
    font-size: 17px;
    font-weight: 700;
    font-family: 'Nunito';
    font-style: normal;
    color: #fff;
    padding: 10px 15px;
    text-decoration: none;
    display: inline-block;
}

header .main-menu ul li a:hover{
	color: #a8d045;
}

.menu>li>a:focus, .menu>li>a:hover, .menu .open>a, .menu .open>a:focus, .menu .open>a:hover, .dropdown-menu>li>a:focus, 
.dropdown-menu>li>a:hover, .dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover{
    background-color: transparent;
    border-color: #f0f0f0;
}

header .main-menu ul li ul li a{
    border-bottom: 1px solid #f0f0f0;
}
header .main-menu ul li ul li a:hover{
    background-color: #fafafa
}
header .main-menu ul li ul li.active a{
    background-color: #fafafa
}
header .main-menu ul li ul li:last-child > a{
    border: none;
}
header .main-menu ul li ul li a{
    padding: 10px 15px;
    font-size: 90%;
}
header .main-menu .navbar-toggle{
    margin-top: 33px;
    margin-bottom: 33px;
}

header .main-menu .navbar-collapse{
    max-height: 250px;
}
header .main-menu .navbar-brand{
    padding: 25px 15px;
}




/*  04  - Page Header
----------------------------------------------*/

.scroll-top{
    display: inline-block;
    height: 50px;
    width: 50px;
    background-color: rgb(27,88,168);
    color: #fff;
    font-size: 40px;
	border-radius: 100%;
    text-align: center;
    line-height: 50px;
    position: fixed;
    top: 85%;
    right: 10%;
    text-decoration: none;
    z-index: 999;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: .5s ease-out;;
    transition: .5s ease-out;
}
.scroll-top:hover{
    background-color: #afbab5;
}
.scroll-top.open{
    -webkit-transform: scale(1);
    transform: scale(1);
}
.scroll-top:hover, .scroll-top:focus{
    color: #fff;
}
.book_tour_mb{
    display: none;
    height: 100px;
    width: 90px;
    color: #fff;
    font-size: 40px;
    text-align: center;
    line-height: 50px;
    position: fixed;
    top: 85%;
    right: 5%;
    text-decoration: none;
    z-index: 999;
}


/*  06  - About
----------------------------------------------*/
.about{
    position: relative;
}

.video-sgss{
	width: 100%;
	border: 0px;
	border-radius: 10px;
	height: 550px;
}
/*  07  - Classes
----------------------------------------------*/





/*  11  - Gallery
----------------------------------------------*/
.gallery{
	position: relative;
    text-align: center;
    background-image: url(../../images/classes/background.png);
    width: 100%;
    height: 1500px;
    background-repeat: no-repeat;
    background-size: 100% 1400px
}
.gallery_center{
	margin-top: -70px;
}


.gallery_frog{
	position: absolute;
	width: 11%;
    bottom: 24%;
    left: 27%;
}





/*  13  - Testimonial
----------------------------------------------*/
.testimonial{
	padding-top: 80px;
	display: flex;
	width: 100%;
}




/*  19  - Subscribe
----------------------------------------------*/




/*  20  - 404 Error
----------------------------------------------*/
.error-page{
    text-align: center;
}
.error-page .error-content{
    text-align: center;
    border: 10px solid #ff73ab;
    border-radius: 6px;
    padding: 20px 30px 36px;
    max-width: 950px;
    margin: 0 auto;
    position: relative;
}
.error-page .error-content:before{
    content: url(../../images/error_01.png);
    position: absolute;
    left: 30px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.error-page .error-content:after{
    content: url(../../images/error_02.png);
    position: absolute;
    right: 30px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.error-page .error-content h2{
    font-style: normal;
    font-size: 150px;
    line-height: 150px;
    color: #d1005a;
}
.error-page .error-content h3{
    font-size: 36px;
    color: #32bcf2;
}
.error-page .error-content h3 span{
    color: #92278f;
}
.error-page .error-content p{
    color: #a40202;
    font-size: 18px;
}

/*  21  - Footer
----------------------------------------------*/
footer .footer-top{
	width: 100%;
	position: relative;
	margin-top: -261px;
	height: 500px;
    background-image: url(../../images/footer/top_footer.png);
    background-size: 100% 500px;
    background-position: center;
}

footer .footer-item .title img{
	width: 85%;
}


footer .footer-top .col-lg-6.col-md-6.col-xs-12:nth-child(2) >.footer-item>div>a>img{
	padding-left: 20px;
}
footer .footer-item .footer-about{
	padding-left: 70px;
}
footer .footer-item .footer-about ul{
    margin: 0px;
    line-height: 0;
	flex-wrap: wrap;
    display: flex;
}
footer .footer-item .footer-about ul li{
    list-style: none;
	color: #fff;
	font-family: Nunito;
    margin-bottom: 3px;
}
footer .footer-about p{
	color: #fff;
	font-weight: bold;
	padding-top: 50px;
	margin-left: -50px;
}
footer .footer-item .footer-about ul li span{
    height: 36px;
    width: 36px;
    text-align: center;
    border-radius: 2px;
    display: inline-block;
    line-height: 36px;
    color: #fff;
}
.form_register{
	margin-top: -60%;
}
.bottom_footer{
	background: #ec008c;
	width: 100%;
}
.bottom_footer p{
	color: #fff;
	font-family: nunito;
    font-size: 22px;
	padding: 23px;
    margin-bottom: -1px;
    padding-left: 53%;
}








/*==================customize mobile menu================== */



.mobile-menu-area {
    display: none;
}



div#bs-example-navbar-collapse-1 {
    display: none;
}





.mobile-menu-area {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    z-index: 9999;
    background-color: #fff;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.open-mobile-menu .mobile-menu-area {
    opacity: 1;
    visibility: visible;
    overflow-y: auto;
}
.mobile-menu {
    text-align: center;
    position: absolute;
    top: 0%;
    margin-top: 100px;
    width: 100%; 
}

.open-mobile-menu .mobile-menu ul {
    transform: scaleY(1);
}
.mobile-menu > ul.m-menu {
    position: relative;
    width: 100%;
}
.mobile-menu>ul {
    transform: scaleY(0);
    transition: all 1s ease;
    transform-origin: top;
    overflow-y: auto;
    max-height: 100vh;
}

.mobile-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.mobile-menu>ul li {
    position: relative;
    border-bottom: 1px solid #ebebeb;
}
.mobile-menu>ul li>.mobile-submenu>li {
    padding-bottom: 5px;
    border-bottom: none;
}

.mobile-menu>ul li:last-child {
    border-bottom: none;
}

.mobile-menu ul li a {
    font-size: 24px;
    line-height: 45px;
    color: #fff;
    text-decoration: none;
}


.mobile-menu>ul>li .mobile-submenu {
    display: none;
}

.mobile-menu>ul>li .mobile-submenu li a {
    font-size: 18px;
    line-height: 35px;
}
.mobile-menu>ul>li>a:focus,
.mobile-menu>ul>li .mobile-submenu li a:focus {
    text-decoration: none;
}


.mobile-menu>ul>li .mobile-submenu .mobile-submenu li a {
    font-size: 15px;
    line-height: 25px;
}

.mobile-menu-area {
    display: block;
}
.mobile-menu-area .logo {
    margin: 15px 0 0 15px;
}
.mobile-menu-area .navbar-toggle{
    margin: 15px 15px 0 0;
}
.mobile-menu-area .navbar-toggle .icon-bar:nth-child(2) {
    background-color: #92278f;
    transform: rotate(45deg) translate(4px, 5px);
}
.mobile-menu-area .navbar-toggle .icon-bar:nth-child(3) {
    background-color: #e84b3a;
    opacity: 0;
}
.mobile-menu-area .navbar-toggle .icon-bar:nth-child(4) {
    background-color: #fc7f0c;
    transform: rotate(-45deg) translate(4px, -5px);
}
.m-menu > li:nth-child(1) a {
    color: #e84b3a;
}
.m-menu > li:nth-child(2) a {
    color: #ffc000;
}
.m-menu > li:nth-child(3) a {
    color: #fc7f0c;
}
.m-menu > li:nth-child(4) a {
    color: #92278f;
}
.m-menu > li:nth-child(5) a {
    color: #14b7f1;
}
.m-menu > li:nth-child(6) a {
    color: #ee257c;
}
.m-menu > li:nth-child(7) a {
    color: #8dc63f;
}












/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */





nav.main-menu-area {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
	margin-top: 0;
    justify-content: space-between;
}
.logo-area {
    width: 240px;
	margin-left: 50px;
	
}
.logo-area button {
    background-color: transparent;
    outline: none;
}
.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}
.navbar-toggle .icon-bar+.icon-bar {
    margin-top: 4px;
}
.menu-area {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
	margin-top: -40px;
    flex-direction: row-reverse;
   /* width: calc(100% - 188px);*/
}
.menu-area_second{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
	margin-top: 0px;
    flex-direction: row-reverse;
   /* width: calc(100% - 188px);*/
}
ul.menu-search-cart {
    margin: 0;
    display: flex;
    width: 100px;
    justify-content: flex-end;
}

ul.menu {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    width: 100%;
    justify-content: flex-end;  
}
ul.menu li {
    list-style: none;
}
.ht-area {
    justify-content: space-between;
}
span.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid\9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}
.dropdown-toggle::after {
    display: none;
}

/* home page 2 */

header.header-two ul.menu {
    justify-content: flex-start !important;
}
@media only screen and (min-width: 1200px) {
    header.header-two ul.menu-search-cart {
        width: 320px;
    }
    header.header-two ul.menu {
        width: calc(100% - 320px);
    }
    .testimonial .testimonial-slider.swiper-container.swiper-container-horizontal.swiper-container-rtl .testimonial-image{
        -webkit-transform: translateX(-210px) translatey(-8px);
        transform: translateX(-210px) translatey(-8px);
    }
}


/*  */
.header-four ul.menu {
    padding-right: 0;
}



.pt-50{
	padding-bottom: 50px;
}
.pr-100{
	padding-right: 135px;
}

.contact_banner{
	background: #ec008c;
	float: right;
	width: 250px;
	margin-left: 20px;
	border-radius: 25px;
}
.contact_banner span{
	color: #fff;
	padding-left: 5px;
    font-family: 'Nunito';
    font-weight: bold;
    font-size: 23px;
}
.contact_banner button{
	border-radius: 100%;
    width: 51px;
    margin: 2px;
    border: 0;
    height: 48px;
    background: #0c4da2;
}

.contact_banner_mb{
	background: #ec008c;
	width: 48%;
	margin-top: -5%;
	display: none;
	list-style: none;
	border-radius: 25px;
}
.contact_banner_mb span{
	color: #fff;
    margin-top: 3%;
    margin-bottom: auto;
    float: left;
    padding-left: 3%;
    font-family: 'Nunito';
    font-weight: bold;
    font-size: 17px;
}
.contact_banner_mb button{
	border-radius: 100%;
    width: 20%;
    margin: 2px;
    float: left;
    margin-left: 2%;
    border: 0;
    height: 38px;
    background: #0c4da2;
}
.left-gallery{
	width: 63%;
	height: auto;
	padding-right: 7px;
}
.right-gallery{
	width: 37%;
	padding-left: 13px;
	height: auto;
}
.left-logo{
	width: 40%;
	margin-left: -3px;
}
.right-logo{
	width: 40%;
}
.main_content{
	display: flex;
}
.content{
	color: #115783;
    font-size: 24px;
	padding-top: 55px;
	text-align: center;
    font-family: 'Nunito';
    font-weight: 600;
	
}
.classes_img{
	position: relative;
	margin-top: -285px;
	max-width: 96%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.classes_img img{
	border-radius: 25px;
}
.square_content {
    background: rgba(220, 221, 177,.7);
    width: 40%;
    float: right;
    position: relative;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    margin-top: -21%;
    margin-right: 7%;
    height: 283px;
}
.small {
    color: #0c4da2;
	font-family: 'Nunito';
    text-align: center;
    font-size: 31px;
	line-height: 1.4;
    padding-top: 7%;
    font-weight: 700;
}
.small_a{
	color: #0c4da2;
	font-family: 'Nunito';
	line-height: 1;
	font-size: 40px;
	font-weight: 900;
}
.left_one{
	width: 40%;
}
.left_one p{
	color: #0c4da2;
	font-family: 'Nunito';
	font-size: 28px;
	text-align: right;
	font-weight: 600;
	line-height: 1.5;
	padding-left: 22%;
	padding-right: 40px;
}
.right_one{
	width: 60%;
}
.lef_two{
	width: 60%;
}
.left_two img{
	max-width: 100%;
}
.left_three{
	width: 40%;
}
.left_three p{
	color: #0c4da2;
	font-family: 'Nunito';
	font-size: 31px;
	text-align: right;
	margin-top: 75%;
	font-weight: 600;
	line-height: 1.4;
	padding-left: 0;
	padding-right: 10%;
}
.left_four{
	width: 80%;
}
.left_five{
	width: 40%;
}
.left_five p{
	color: #0c4da2;
	font-family: 'Nunito';
	font-size: 40px;
	text-align: right;
	margin-top: 69%;
	font-weight: 700;
	line-height: 1.5;
	padding-left: 10%;
	padding-right: 40px;
}
.right_four{
	width: 20%;
	padding-top: 29%;
	padding-right: 10px;
}
.right_two{
	width: 60%;
}
.right_two img{
	margin-top: 40px;
    margin-left: -240px;
}
.right_two p{
	font-family: nunito;
	font-size: 30px;
	line-height: 1.4;
	font-weight: bold;
	color: #0c4da2;
	padding-top: 35px;
	padding-left: 25px;
}
.strengths_two{
	display: flex;
	padding-top: 80px;
}


.form_text{
	margin-top: -306px;
    padding-left: 116px;
}
.form_text input{
	width: 340px;
    border: 0;
    font-family: 'Nunito';
	outline: none;
	padding-left: 10px;
	margin-bottom: 10px;
    border-radius: 16px;
    height: 60px;
}
.link_us{
	display: flex;
	margin-left: 2%;
}
.link_us a{
	width: 25%;
	height: 80px;
	padding: 2px;
}
.link_us img{
	height: 70%;
}
.link_us h3{
	font-family: nunito;
	color: #fff;
	margin-right: 10px;
	font-weight: 700;
	font-size: 24px;
	margin-top: 10px;
}
.btn_submit{
	font-size: 16px;
    margin-left: 10px;
    font-weight: 900;
	color: #0c4da2;
    border-radius: 10px;
    background: whitesmoke;
	margin-left: 45%;
	border: 0;
	width: 75px;
	height: 35px;
	font-family: Nunito;
	
}
.btn_submit:focus{
	outline: none;
}
.rainbow{
	padding-top: 119px;
    margin-left: -20px;
   
}
.rainbow img{
     animation-name: example;
     animation-duration: 10s;
     animation-iteration-count: 20;
     animation-direction: alternate;  
}
@keyframes example {
  from {opacity: 0;}
  to {opacity: 1;}
}
.class_title{
	font-size: 40px;
	font-weight: 800;
	color: #fff;
	font-family: Nunito;
	line-height: 1.3;
}
.reception{
	left: 39%;
    position: absolute;
    bottom: 15%;
}
.reception_img{
	width: 10%;
    left: 56%;
    position: absolute;
    bottom: 19%;
}
.preschool{
    position: absolute;
    top: 31%;
	left: 15%;
}
.preschool_img{
	width: 6%;
    left: 24%;
    position: absolute;
    top: 25%;
}
.nursery{
    position: absolute;
    top: 44%;
    right: 15%;
}
.nursery_img{
	width: 13%;
    right: 17%;
    position: absolute;
    top: 31%;
}
.enrolment{
	position: relative;
	text-align: center;
	width: 100%;
	height: 1460px;
	background-image: url(../../images/enrolment/18.png);
	background-repeat: no-repeat;
	background-size: 100% 1800px;
}

.enrolment_content{
	position: absolute;
    width: 35%;
	font-weight: 800;
	line-height: 1.4;
    font-size: 32px;
    font-family: nunito;
    color: #0c4da2;
    top: 31%;
    left: 23%;
    animation-name: example;
     animation-duration: 15s;
     animation-iteration-count: 20;
     animation-direction: alternate;  

}
/*============== Form Registration mobile ===============*/
.modal-content{
    background: transparent;
    width: 70%;
    border: 0;
    margin-top: 30%;
    margin-right: 13%;
    margin-left: auto;
}
.modal-dialog{
    height: 490px;
    background-image: url(../../images/footer/form.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
.modal-body{
    margin-top: 69%;
}
.modal-title{
    font-family: Nunito;
    font-weight: 700;
    font-size: 25px;
    color: #fff;
}
.close{
    color: #fff;
    font-family: Nunito;
    font-weight: 800;
    font-size: 30px;
}
.modal-header{
    border:0;
    background: trannsparent;
}
.submit-btn{
    margin-top: 4%;
    background: rgb(230,0,126);
    padding: 3px 15px;
    border: 0;
    border-radius: 18px;
}
.mt-25{
    margin-top: 10px;
}

.btn-registration p{
    font-family: 'Nunito';
    font-size: 18px;
    display:none;
    font-weight: 700;
    width: 170px;
    margin-top: 10px;
    border-radius: 14px;
    padding: 5px 10px;
    color: #fff;
    background: rgb(230, 0, 126);
}
.primary-input{
    border-radius: 10px;
}
.ti-check{
    font-family: 'Nunito';
    font-size: 16px;
    font-weight: 700;
    color: #fff;
}
/*================== end ================*/
.star {
    visibility: hidden;
}

.fadeIn {
    -webkit-animation: animat_show 3s;
    animation: animat_show 3s;
    visibility: visible !important;
}

@-webkit-keyframes animat_show{
    0%{opacity:0}
    100%{opacity:1}
}
.foot_animation{
	width: 50%;
    margin-bottom: -14%;
    margin-left: 45%;
    transform: rotate(0deg);
}
.foot_animation img{
   width: 10%;
}
.foot_1{
    transform: rotate(189deg);
}
.foot_2{
	margin-top: 8%;
    margin-left: 8%;
    transform: rotate(206deg);
}
.foot_3{
    transform: rotate(235deg);
    margin-left: -22%;
    margin-top: 32%;
}
.foot_4{
    transform: rotate(235deg);
    margin-top: 36%;
    margin-left: 10%;
}
.foot_animation_2{
	width: 50%;
    margin-bottom: -14%;
    margin-left: 4%;
    transform: rotate(50deg);
}

.foot_animation_2 img{
   width: 23%;
}
.foot_animation_2 .foot_2{
	margin-top: -21%;
    margin-left: 14%;
    transform: rotate(206deg);
}
.foot_animation_2 .foot_3{
    transform: rotate(235deg);
    margin-left: -21%;
    margin-top: 41%;
}
.foot_animation_3{
	width: 60%;
    margin-top: -5%;
    margin-bottom: -36%;
    margin-left: 50%;
    transform: rotate(90deg);
}

.foot_animation_3 img{
   width: 20%;
}
.foot_animation_3 .foot_1{
    transform: rotate(-120deg);
}
.foot_animation_3 .foot_2{
	margin-top: -4%;
    margin-left: 0%;
    transform: rotate(233deg);

}
.foot_animation_3 .foot_3{
    transform: rotate(258deg);
    margin-left: -8%;
    margin-top: 50%;
}
.foot_animation_3 .foot_4{
    transform: rotate(245deg);
    margin-top: 30%;
    margin-left: 6%;
}
.foot_animation_4 {
    width: 80%;
    margin-bottom: -40%;
    margin-left: 15%;
    transform: rotate(9deg);
}
.foot_animation_4 img{
   width: 14%;
}
.foot_animation_5 {
    width: 100%;
    margin-top: -119%;
    margin-bottom: 40%;
    margin-left: 0%;
    transform: rotate(80deg);
}
.foot_animation_5 img{
   width: 22%;
}
.foot_animation_5 .foot_1{
    transform: rotate(230deg);
}
.foot_animation_5 .foot_2{
    margin-top: 4%;
    margin-left: 13%;
    transform: rotate(223deg);
}
.foot_animation_5 .foot_3{
    transform: rotate(252deg);
    margin-left: -42%;
    margin-top: 58%;
}
.foot_animation_5 .foot_4{
    transform: rotate(258deg);
    margin-top: 55%;
    margin-left: 19%;
}
.foot_animation_6 {
    width: 80%;
    margin-bottom: -80%;
    margin-left: -10%;
    margin-top: 54%;
    transform: rotate(115deg);
}
.foot_animation_6 img{
   width: 14%;
}
.foot_animation_6 .foot_1 {
    transform: rotate(-124deg);
}
.foot_animation_6 .foot_2 {
    margin-top: -6%;
    margin-left: 8%;
    transform: rotate(250deg);
}
.foot_animation_6 .foot_4 {
    transform: rotate(235deg);
    margin-top: 26%;
    margin-left: 1%;
}
#registration.show {
  bottom: 0;
  background: rgb(0,0,0,0.6);
  display: block;
  opacity: 1;
}