body {
  background-color: #74EBD5;
  background-image: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%);

  min-height: 100vh;
}

::-webkit-scrollbar {
  width: 5px;
}
.message-background{
  background-color: white;  
}
::-webkit-scrollbar-track {
  width: 5px;
  background: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  width: 1em;
  background-color: #ddd;
  outline: 1px solid slategrey;
  border-radius: 1rem;
}
.pre-loading{
  position:absolute;
  width: 100%;
  height: 800px;
  background-color: #d6d6d6;
  z-index: 99999;
  
}
.text-small {
  font-size: 0.9rem;
}

.messages-box{
  height: 800px;
  overflow-y: scroll;
}
.chat-box {
  height: 750px;
  overflow-y: scroll;
  overflow-y: break-word;
}

.rounded-lg {
  border-radius: 0.5rem;
}

input::placeholder {
  font-size: 0.9rem;
  color: #999;
}
.active1
{
  background-color: #c3c7c4;
}
.active1:hover
{
  background-color: #d9d7d7;
}
.settings{
  color: black;
  padding: 10px;
}
.dropdown{
  padding-top: 7px;
}
.text-small{
  color: black;
}

.container {
  margin: auto;
  max-width: 800px;
  margin-top: 150px;
}

.text {
  padding: 50px;
  font-family: "Sans-Serif";
  color: #666;
}

.inputcontainer {
  position: relative;
}

input {
  width: 100%;
  font-size: 20px;
  box-sizing: border-box;
}

.icon-container {
  position: absolute;
  right: 10px;
  top: calc(50% - 10px);
}
.loader {
  position: relative;
  height: 20px;
  width: 20px;
  display: inline-block;
  animation: around 5.4s infinite;
  z-index: 999999;
}


.button1 {
  border: 0px solid black;
  background-color: white;
  color: black;
  margin: 7px 0 0 10px;
  padding: 0px 0px;
  font-size: 25px;
  cursor: pointer;
}

@keyframes around {
  0% {
    transform: rotate(0deg)
  }
  100% {
    transform: rotate(360deg)
  }
}

.loader::after, .loader::before {
  content: "";
  background: white;
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 100%;
  border-width: 2px;
  border-color: #333 #333 transparent transparent;
  border-style: solid;
  border-radius: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  animation: around 0.7s ease-in-out infinite;
}

.loader::after {
  animation: around 0.7s ease-in-out 0.1s infinite;
  background: transparent;
}

.loader2 {
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
  margin: 0 auto;
  margin-top: 350px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

