.chat-main{
	position: fixed;
	width: 270px;
	bottom: 0;
	right: 200px;
	z-index: 9999;
}
.chat-header{
	background: #4267B2;
	padding-top: 1px;
	padding-bottom: 1px;
}
.username i{
	font-size: 9px;
}
.username h6{
	display: inline-block;
	font-size: 12px;
	font-weight: 600;
}
.options i{
	font-size: 14px;
    font-weight: normal;
    opacity: 0.7;
}
.options .live-video{
	font-size: 6px;
}
.chats{
	height: 260px;
	overflow-x: scroll;
	overflow-x: hidden;
}
.chats ul li{
	list-style: none;
	clear: both;
	font-size: 13px;
}
.chats .send-msg{
	float: right;
}
.receive-msg img{
	border-radius: 100%;
	height: 30px;
	width: 12%;
}
.receive-msg-img{
	display: inline;
}
.receive-msg .receive-msg-desc{
	display: inline-block;
}
.receive-msg .receive-msg-desc p{
	background: #c1c1c1;
}
.message-box input{
	border: none;
	font-size: 13px;
	opacity: 0.7;
}
.message-box input:focus{
	outline: none;
}
.tools i{
	color: #a1a1a1;
	cursor: pointer;
	font-size: 20px;
	margin-right: 6px;
}