
* {
    margin: 0px; 
    padding: 0px; 
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

/*---------------------------------------------*/
a {
    line-height: 1.7;
    color: #666666;
    margin: 0px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
}

a:focus {
    outline: none !important;
}

a:hover {
    text-decoration: none;
}

/*---------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
    margin: 0px;
}

p {
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
}

ul, li {
    margin: 0px;
    list-style-type: none;
}


/*---------------------------------------------*/
input {
    outline: none;
    border: none;
}

input[type="number"] {
    -moz-appearance: textfield;
    appearance: none;
    -webkit-appearance: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

textarea {
outline: none;
border: none;
}

textarea:focus, input:focus {
border-color: transparent !important;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder {color: #999999;}
input:-moz-placeholder {color: #999999;}
input::-moz-placeholder {color: #999999;}
input:-ms-input-placeholder {color: #999999;}

textarea::-webkit-input-placeholder {color: #999999;}
textarea:-moz-placeholder {color: #999999;}
textarea::-moz-placeholder {color: #999999;}
textarea:-ms-input-placeholder {color: #999999;}

/*---------------------------------------------*/
button {
    outline: none !important;
    border: none;
    background: transparent;
}

button:hover {
    cursor: pointer;
}

iframe {
    border: none !important;
}




/*//////////////////////////////////////////////////////////////////
[ Contact ]*/

.container-contact100 {
width: 100%;  
min-height: 100vh;
display: -webkit-box;
display: -webkit-flex;
display: -moz-box;
display: -ms-flexbox;
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
padding: 15px;
background: transparent;
position: relative;
z-index: 1;
}

.contact100-map {
position: absolute;
z-index: -2;
width: 100%;
height: 100%;
top: 0;
left: 0;
}

.wrap-contact100 {
width: 670px;
background: #fff;
border-radius: 10px;
overflow: hidden;
position: relative;
}

/*==================================================================
[ Title form ]*/
.contact100-form-title {
width: 100%;
position: relative;
z-index: 1;
display: -webkit-box;
display: -webkit-flex;
display: -moz-box;
display: -ms-flexbox;
display: flex;
flex-wrap: wrap;
flex-direction: column;
align-items: center;

background-repeat: no-repeat;
background-size: cover;
background-position: center;

padding: 64px 15px 64px 15px;
}

.contact100-form-title-1 {
font-family: Poppins-Bold;
font-size: 20px;
color: #fff;
line-height: 1.2;
text-align: center;
padding-bottom: 7px;
}

.contact100-form-title-2 {
font-family: Poppins-Regular;
font-size: 15px;
color: #fff;
line-height: 1.5;
text-align: center;
}


.contact100-form-title::before {
content: "";
display: block;
position: absolute;
z-index: -1;
width: 100%;
height: 100%;
top: 0;
left: 0;
background-color: rgba(54,84,99,0.7);
}


/*==================================================================
[ Form ]*/

.contact100-form {
width: 100%;
display: -webkit-box;
display: -webkit-flex;
display: -moz-box;
display: -ms-flexbox;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
padding: 43px 88px 57px 190px;
}


/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
width: 100%;
position: relative;
border-bottom: 1px solid #b2b2b2;
margin-bottom: 26px;
}

.label-input100 {
font-family: Poppins-Regular;
font-size: 15px;
color: #808080;
line-height: 1.2;
text-align: right;

position: absolute;
top: 14px;
left: -105px;
width: 80px;

}

/*---------------------------------------------*/
.input100 {
font-family: Poppins-Regular;
font-size: 15px;
color: #555555;
line-height: 1.2;

display: block;
width: 100%;
background: transparent;
padding: 0 5px;
}

.focus-input100 {
position: absolute;
display: block;
width: 100%;
height: 100%;
top: 0;
left: 0;
pointer-events: none;
}

.focus-input100::before {
content: "";
display: block;
position: absolute;
bottom: -1px;
left: 0;
width: 0;
height: 1px;

-webkit-transition: all 0.6s;
-o-transition: all 0.6s;
-moz-transition: all 0.6s;
transition: all 0.6s;

background: #57b846;
}


/*---------------------------------------------*/
input.input100 {
height: 45px;
}


textarea.input100 {
min-height: 115px;
padding-top: 14px;
padding-bottom: 13px;
}


.input100:focus + .focus-input100::before {
width: 100%;
}

.has-val.input100 + .focus-input100::before {
width: 100%;
}


/*------------------------------------------------------------------
[ Button ]*/
.container-contact100-form-btn {
width: 100%;
display: -webkit-box;
display: -webkit-flex;
display: -moz-box;
display: -ms-flexbox;
display: flex;
flex-wrap: wrap;
padding-top: 8px;
}

.contact100-form-btn {
display: -webkit-box;
display: -webkit-flex;
display: -moz-box;
display: -ms-flexbox;
display: flex;
justify-content: center;
align-items: center;
padding: 0 20px;
min-width: 160px;
height: 50px;
background-color: #57b846;
border-radius: 25px;

font-family: Poppins-Regular;
font-size: 16px;
color: #fff;
line-height: 1.2;

-webkit-transition: all 0.4s;
-o-transition: all 0.4s;
-moz-transition: all 0.4s;
transition: all 0.4s;
}

.contact100-form-btn i {
-webkit-transition: all 0.4s;
-o-transition: all 0.4s;
-moz-transition: all 0.4s;
transition: all 0.4s;
}

.contact100-form-btn:hover {
background-color: #333333;
}

.contact100-form-btn:hover i {
-webkit-transform: translateX(10px);
-moz-transform: translateX(10px);
-ms-transform: translateX(10px);
-o-transform: translateX(10px);
transform: translateX(10px);
}


/*------------------------------------------------------------------
[ Responsive ]*/




/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
position: relative;
}

.alert-validate::before {
content: attr(data-validate);
position: absolute;
max-width: 70%;
background-color: #fff;
border: 1px solid #c80000;
border-radius: 2px;
padding: 4px 25px 4px 10px;
top: 50%;
-webkit-transform: translateY(-50%);
-moz-transform: translateY(-50%);
-ms-transform: translateY(-50%);
-o-transform: translateY(-50%);
transform: translateY(-50%);
right: 2px;
pointer-events: none;

font-family: Poppins-Medium;
color: #c80000;
font-size: 13px;
line-height: 1.4;
text-align: left;

visibility: hidden;
opacity: 0;

-webkit-transition: opacity 0.4s;
-o-transition: opacity 0.4s;
-moz-transition: opacity 0.4s;
transition: opacity 0.4s;
}

.alert-validate::after {
content: "\f06a";
font-family: FontAwesome;
display: block;
position: absolute;
color: #c80000;
font-size: 15px;
top: 50%;
-webkit-transform: translateY(-50%);
-moz-transform: translateY(-50%);
-ms-transform: translateY(-50%);
-o-transform: translateY(-50%);
transform: translateY(-50%);
right: 8px;
}

.alert-validate:hover:before {
visibility: visible;
opacity: 1;
}



  
  /* The switch - the box around the slider */
.switch {
position: relative;
display: inline-block;
width: 60px;
height: 34px;
float: right;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #ccc;
-webkit-transition: .4s;
transition: .4s;
}

.slider:before {
position: absolute;
content: "";
height: 26px;
width: 26px;
left: 4px;
bottom: 4px;
background-color: white;
-webkit-transition: .4s;
transition: .4s;
}

input.default:checked + .slider {
background-color: #444;
}
input.primary:checked + .slider {
background-color: #2196F3;
}
input.success:checked + .slider {
background-color: #8bc34a;
}
input.info:checked + .slider {
background-color: #3de0f5;
}
input.warning:checked + .slider {
background-color: #FFC107;
}
input.danger:checked + .slider {
background-color: #f44336;
}

input:focus + .slider {
box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
-webkit-transform: translateX(26px);
-ms-transform: translateX(26px);
transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
border-radius: 34px;
margin-top: -5px;
margin-bottom: 5px;
}

.slider.round:before {
border-radius: 50%;
}

.contact100-form-btn{
    margin: auto;
}
@media (max-width: 992px) {
    .contact100-form {
        padding: 43px 70px 57px 150px;
    }
    .alert-validate::before {
        visibility: visible;
        opacity: 1;
    }
}

@media (max-width: 670px) {
    .list-group-item {
        font-size: 12px;
        font-weight: 700;
    }
}

@media (max-width: 620px) {
    .switch{
        position: absolute;
        right: 5px;
        width: 50px;
    }
    input:checked + .slider:before {
        -webkit-transform: translateX(18px);
        -ms-transform: translateX(18px);
        transform: translateX(18px);
    }
}

@media (max-width: 576px) {
    .contact100-form {
        padding: 43px 10px 57px 10px;
    }
    .label-input100{
        display: none;
    }
}
    
@media (max-width: 480px) {
    .label-input100{
        display: none;
    }
    .contact100-form {
        padding: 43px 15px 57px 15px;
    }
    .contact100-form-btn{
        min-width: 0;
    }
    .container-contact100{
        padding-left: 0;
        padding-right: 0;
    }
}