.fontcalender {
	position: relative;
  }
  
  .fontcalender i{
	position: absolute;
  top: 10px;
  right: 10px;
	color: gray;
  }
.top-header{
	background-color: #7dd3f7;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 0px 40px 40px 40px;
    margin-bottom: 10px;
    background-image: url('/public/images/left.png');
    background-size: 27px;
    background-repeat: no-repeat;
}
.text-header{
	color: #fff;
}
.std_photo_btn{
    background: #7dd3f7;
}

.form-control{
	border-color: #7dd3f7;
}
.std-img-picker{
	height: 200px;
	width: 50%;
	border: 1px solid #7dd3f7;
	border-radius: 5px;
	text-align: center;
	background: #fff;
	margin: auto;
}
.gender-container{
	background: #fff;
    margin: 10px;
    padding: 6px;
    border-radius: 5px;
    border: 1px solid #7dd3f7;
}
/*.btn-group-enrol{
	padding: 10px;
}*/
.next-btn{
	float: right;
}
.b-bottom-input-same-row{
	margin-top: -15px;
	border:none;
    border-bottom: 1px solid #7dd3f7;
    padding: 5px 10px;
    outline: none;
}
.b-bottom-input{
	margin-bottom: 20px;
	border:none;
    border-bottom: 1px solid #7dd3f7;
    padding: 5px 10px;
    outline: none;
}

.hidden{
	display: none;
}
.pt-20{
	padding-top: 20px;
}
.b-bottom-input-group{
	margin-top: 15px;
}
.sm-content{
	padding-top: 16px;
}

.enrol-input{
	margin: 10px;
}
hr{
	background-color: #7dd3f7;
}
.checkbox-group{
	padding: 15px;
}
.bus-table {
	background : #fff;
}
.father-info {
	display: block;
}


/*#family-select{
	display: none;
}*/

/*#family{
	display: none;
}*/
#to_uncheck_visible_bus_route{
	display: none;
}

.enrol-step-blue{
	height: 15px;
	width: 10%;
	background-color: #7dd3f7;
	display: inline-block;
	opacity: 0.3;
	margin-left: -2px;
	margin-right: -2px;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.enrol-step-yellow{
	height: 15px;
	width: 10%;
	background-color: rgb(255, 238, 137);
	display: inline-block;
	margin-left: -2px;
	margin-right: -2px;
	opacity: 0.3;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.btn-group-enrol{
	padding-top: 20px;
	width: 100%;
	text-align: center;
	padding-bottom: 35px;
}

.enrol-nav-text{
	margin-top : 20px;
	text-transform: uppercase;
	color: #7dd3f7;
	font-weight: bold;
	font-size: 15px;

}
.enrol-icon{
	color: #7dd3f7;
	font-size: 30px;
}

@media only screen and (max-width: 992px) and (min-width: 600px) {
  	.enrol-nav-text{
		font-size: 10px;
	}
}
@media only screen and (max-width: 1300px) and (min-width: 992px) {
  	.enrol-nav-text{
		font-size: 15px;
	}
}

@media only screen and (max-width: 600px){
  	.enrol-nav-text{
		display: none;
	}
}

.show-step{
	opacity: 1 !important;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.hide{
	opacity: 0;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.show{
	opacity: 1;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.left{
	float: left;
}

.right {
	float: right;
}
#print-trial{
	padding-right: 25px;
	font-size: 25px;
}

#imgPreview{
	width: 100% !important;
	height: 100% !important;
	object-fit: cover;
}

.btn-next-prev{
	float: right;
} 

.btn-next-prev a{
	background-color: #7dd3f7;
} 

.validate{
	color: red;
	font-size: 12px;
	display: none;
}

.btn-save{
	text-align: center;
}

#enrol-save{
	background-color: #7dd3f7 !important;
}
#search_enrol{
	border-radius: 5px !important;
	background-color: #1ac754 !important
}

@media print {
	#std_photo_btn{
		display: none;
	}
	#family-select,.banner,.phone-contact,.main-nav,.harvard-heading,.test_button,#footer,#zalo_icon,.enrol-nav-group,#search_std,.action_footer,.btn-next-prev,.floating-menu{
		display: none;
	}
	c-color{
		background-color: #fff;
	}
}
.calculate{
	background-color: #7dd3f7;
}